<% content_for :title do %>
    Crisis Cleanup - Dashboard
<% end %>

<% content_for :subheader do %> 
<div class="subheader">
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
    <h2>Worker Dashboard<h2>
    <hr>
        </div>
    </div>    
</div>    
<% end %>
        
<% content_for :main do %> 
<div id="main" class="alt">
    <% unless current_user.admin %>
        <% unless current_user_event %>
        	<p>You're organization isn't connected to an event. Use the admin panel to add an event to this organization.</p>
        <% end %>
    		
        <h4>Invite Users</h4>
        <%= render 'invite_form' %>
    	<h4>Verify Invited Users</h4>
    	<%= render 'user_table', users: @unverified_users %>
        <h4>Requested Invitations</h4>
        <%= render 'request_invitation_table', users: @requested_invitations %>
    <% end %>
</div>    
<% end %>

<% content_for :sidebar do %> 
<div id="sidebar">
    <h4>User Info</h4>
		<% if @current_user.admin %>        
			<p>I am: <strong><%= current_user.name %> (<%=current_user.email %>)</strong> and I am an Admin therefore I cannot invite people to an organization</p>
		<% else %>
		<p>I am: <strong><%=current_user.email %></strong> and I belong to <strong><%=current_user.legacy_organization.name %></strong></p>			
		<%end%>
</div>
<% end %>
