<% content_for :title do %>
    Crisis Cleanup - Dashboard
<% end %>

<% content_for :subheader do %>
    <div class="row">
      <h2 class="center">My Work Dashboard</h2>
    </div>
<% end %>

<% content_for :main do %>

    <style>
      .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
      }

      .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
      }

      .modal-container {
        width: 300px;
        margin: 0px auto;
        padding: 20px 30px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        font-family: Helvetica, Arial, sans-serif;
      }

      .modal-header h3 {
        margin-top: 0;
        color: #42b983;
      }

      .modal-body {
        margin: 10px 0;
        /*margin-bottom: 40px;*/
      }

      .modal-default-button {
        float: right;
      }

      /*
       * The following styles are auto-applied to elements with
       * transition="modal" when their visibility is toggled
       * by Vue.js.
       *
       * You can easily play with the modal transition by editing
       * these styles.
       */

      .modal-enter {
        opacity: 0;
      }

      .modal-leave-active {
        opacity: 0;
      }

      .modal-enter .modal-container,
      .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
    </style>

    <div class="row collapse">
      <div class="large-6 medium-6 columns">
        <div class="panel" id="claimed-worksites">

          <h5 class="center" id="view-claimed-worksites">My Claimed Worksites</h5>
          <div class="row collapse" data-equalizer>
            <% if @sites.count == 0 %>
                <div class="small-12 large-12 medium-12 columns" data-equalizer-watch>
                  <div data-alert class="alert-box warning">
                    You have not yet claimed any worksites for your team. Please visit the
                    map <%= link_to "HERE", worker_incident_legacy_map_path(current_user_event), :style => "font-size: larger; color: white;" %>
                    to get started.</p>
                  </div>
                </div>
            <% end %>
            <% @sites.each do |site| %>
                <div class="small-6 large-6 medium-6 columns left" data-equalizer-watch>

                  <div class="custom-panel text-center site-card" style="margin:0 2px;">
                    <site-icon :site-id="<%= site.id %>" :site-status="'<%= site.status %>'"></site-icon>

                    <h5><%= site.case_number %></h5>
                    <h5><%= site.name %></h5>
                    <p>
                      <a href="tel:<%= number_to_phone(site.phone1.scan(/\d/).join(''), area_code: true) %>"><%= number_to_phone(site.phone1.scan(/\d/).join(''), area_code: true) %></a>
                    </p>

                    <p><%= site.address %></p>
                    <p><%= site.city %>, <%= site.state %>, <%= site.zip_code %></p>
                    <site-status-dropdown :site-id="<%= site.id %>" :site-status="'<%= site.status %>'"></site-status-dropdown>

                    <div class="medium-12 sm-centered lg-centered column">
                      <ul class="small-block-grid-3 text-center">
                        <li><%= link_to worker_incident_legacy_edit_site_path(current_user_event, site.id) do %>
                              <i title="View on Map" class="fa fa-map fa-lg"></i>
                          <% end %>
                        </li>
                        <li>
                          <a id="show-modal" @click="fireModal(<%= site.id %>)">
                            <i title="Send SMS to Teammates" class="fa fa-mobile fa-2x">
                            </i>
                          </a>
                        <li><%= link_to worker_incident_print_path(current_user_event, site.id) do %>
                              <i title="Print worksite" class="fa fa-print fa-lg"></i>
                          <% end %>
                        </li>
                      </ul>
                    </div>
                    <p style="height: 35px;"></p>
                  </div>
                </div>
            <% end %>
          </div>

          <modal v-if="showModal" v-cloak>
            <h5 slot="header">Send Worksite Info</h5>
            <div slot="body">
              <p>Send this worksite to your team members through SMS Text Messaging.</p>
              <textarea v-model="smsNumbers" type="text" placeholder="ex. 123-456-7890, 111-111-1111"></textarea>
              <ul class="button-group">
                <li>
                  <button v-on:click="sendMessage" class="button">Send</button>
                </li>
                <li>
                  <button v-on:click="cancelSend" class="button">Cancel</button>
                </li>
              </ul>
            </div>
          </modal>
        </div>
      </div>

      <div class="large-6 medium-6 columns">
        <div class="small-12 medium-12 large-12 columns">
          <div class="panel radius" id="invite-panel">
            <h5 class="center">Invite Additional Teammates to CrisisCleanup</h5>
            <%= render 'invite_form' %>
          </div>
        </div>


        <div class="small-12 medium-12 large-12 columns">
          <div id="quick-links" class="panel">
            <h5 class="center">Quick Links</h5>
            <ul class="inline-list">
              <li><%= link_to "My Organization", worker_my_organization_path, :id => 'my-org-quick-link' %></li>
              <li><%= link_to "Contacts", worker_incident_legacy_contacts_path(current_user_event), :id => 'contacts-quick-link' %></li>
              <li><%= link_to "Organizations", worker_incident_legacy_organizations_path(current_user_event), :id => 'org-quick-link' %></li>
              <li><%= link_to "Stats", worker_incident_stats_path(current_user_event), :id => 'stats-quick-link' %></li>
              <li><%= link_to worker_incident_graphs_path(current_user_event), :id => 'graphs-quick-link' do %>
                    Graphs
                <% end %></li>
            </ul>
          </div>
        </div>


        <h4 class="center">Metrics</h4>
        <div id="graph-daily-progress" class="small-12 medium-12 large-6 columns">
          <h5 class="center">My Organization's Daily Progress</h5>
          <%= area_chart worker_incident_graphs_site0_path(current_user_event) %>
        </div>
        <div id="graph-work-order-status" class="small-12 medium-12 large-6 columns">
          <h5 class="center">My Organization's Work Order Status</h5>
          <%= pie_chart worker_incident_graphs_site2_path(current_user_event) %>
        </div>
        <div id="graph-all-org-progress" class="small-12 medium-12 large-6 columns">
          <h5 class="center">All Organizations' Daily Progress</h5>
          <%= column_chart worker_incident_graphs_site1_path(current_user_event), stacked: true %>
        </div>

      </div>

    </div>

<% end %>

<% content_for :joyride do %>
    <%= render 'joyride' %>
    <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js' %>
    <script type="text/javascript">
      $(document).foundation('joyride', 'start', {
        modal: false,
        cookie_monster: true,
        cookie_name: 'cc-joyride'
      });
    </script>
<% end %>
