<% content_for :title do %>
    Crisis Cleanup - About
<% end %>

<% content_for :subheader do %>
<div class="subheader">
    <h2>The People and Philosophies of Crisis Cleanup</h2>
    <h4 class="basic">We are building a new kind of system. Who's in charge? You are.</h4>
    <hr class="medium">
</div>
<% end %>

<% content_for :main do %>
<div id="main" class="alt">
    <div class="row">
        <h3>A New Philosophy For Disaster Relief</h3>
        <iframe class="about-intro" width="" height="" src="https://www.youtube.com/embed/yCxI5YHyX5k" frameborder="0" allowfullscreen></iframe>
            <h5 class="basic">Crisis Cleanup's core objective is to embrace and support the interests of disaster survivors by providing transparent, collaborative, and privacy-enhancing open source technology to assist those who directly interact with and help survivors.</h5>
        <p>Crisis Cleanup is an open source project and operates through the fiduciary agent Crisis Cleanup, LLC based out of New Jersey. We are currently looking for a non-profit fiscal agent. Other organizations sponsor implementations of Crisis Cleanup in Australia, India, the Philippines, and elsewhere.</p>

        <h4>The system is based upon a few foundational philosophies:</h4>
            <ul>
                <li>The right way to do things is however it gets done, locally.</li>
                <li>Technology should enhance, not replace, inter-organization relationships.</li>
                <li>Voluntary organizations are co-equal, sovereign and interdependent; no single organization is in charge. There is no pyramid, and you're not on top.</li>
                <li>Collaboration and communication should be not only convenient, but required.</li>
                <li>There is no such thing as the “One App to Rule them All.” The system should not try to do things it was not intended to do.</li>
                <li>The system tracks property, not people. Consequently, strict personal information minimization policies are in place.</li>
            </ul>
        <p><strong>Crisis Cleanup's real innovation is the ability to coordinate tens of thousands of volunteers from hundreds of organizations to thousands of sites after a disaster in a non-hierarchical collaborative environment</strong>. Crisis Cleanup proves that it is possible to create a near frictionless technological platform where inter-organization Cooperation, Communication, Coordination, and Collaboration is not only convenient, but required.</p>
    </div>
    <div class="row">
        <h3>The People of Crisis Cleanup</h3>
        <div class="large-3 medium-6 small-6 columns team">
            <%= image_tag "headshots/aarontitus.jpg", :alt => "Aaron Titus"  %>
            <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="<a href='https://twitter.com/aarontitus' style='color:#ffcc44'>Aaron Titus</a> is a proud husband and father of seven children, the LDS Charities representative to Colorado VOAD, the secretary to the Mountain West VOAD, a privacy attorney, and disaster product manager for VisionLink.
<br><br>
He helped organize the Mormon Helping Hands responses for Hurricane Irene in 2011, the New Jersey 'Derecho' thunderstorms and Hurricane Sandy in 2012. He is a recipient of the New Jersey Governor's Jefferson Award for public service."><i class="fi-info"></i></span>
            <p><strong>Aaron Titus</strong><br>
            Executive Director</p>
        </div>
            <div class="large-3 medium-6 small-6 columns team">
                <%= image_tag "headshots/andygimma.jpg", :alt => "Andy Gimma"  %>
                <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="<a href='https://twitter.com/AndyGimma' style='color:#ffcc44'>Andy Gimma</a> is an Android, Python, Google App Engine, Ruby, open source and open data programmer, with an emphasis is in non-hierarchical organizing structures. He likes Russian literature, Kenzaburo Oe, and avoiding the beaten path."><i class="fi-info"></i></span> 
                <p><strong>Andy Gimma</strong><br>
                Developer &amp; Project Manager</p>
            </div>
                <div class="large-3 medium-6 small-6 columns team">
                    <%= image_tag "headshots/zacharystraub.jpg", :alt => "Zachary Straub"  %>
                    <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="<a href='https://www.linkedin.com/in/zacharystraub' style='color:#ffcc44'>Zachary Straub</a> specializes in web design, UX, OS, branding, and SEO. His passions include aiding in community development projects and facilitating creativity to others. 
<br><br>
Zachary currently runs a locally-owned microbusines, <a href='http://straubcreative.nationbuilder.com' style='color:#ffcc44'>Straub Creative Company</a> out of San Francisco, California."><i class="fi-info"></i></span>                    
                    <p><strong>Zachary Straub</strong><br>
                    Designer</p>
                </div>
                    <div class="large-3 medium-6 small-6 columns team">
                        <%= image_tag "headshots/dhruvmehrotra.jpg", :alt => "Dhruv Mehrotra"  %>
                        <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="<a href='https://twitter.com/dmehro' style='color:#ffcc44'>Dhruv Mehrotra</a> is a recent NYU graduate and has been doing web development since college. In his spare time he has been building interactive tools for disaster relief, as well as pursuing personal artistic endeavors.
<br><br>
Dhruv's specialties include Javascript, Node, Ruby, Rails, CSS3, HTML5."><i class="fi-info"></i></span>                        
                        <p><strong>Dhruv Mehrotra</strong><br>
                        Developer</p>
                    </div>        
    </div>
    <div class="row">
        <div class="large-3 medium-6 small-6 columns team">
            <%= image_tag "headshots/marktregellas.jpg", :alt => "Mark Tregellas"  %>
            <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="<a href='http://au.linkedin.com/pub/mark-tregellas/50/ba8/263' style='color:#ffcc44'>Mark Tregellas</a> is a husband and father of 3 children. He works as a police officer, and also as the President of the Returned and Services League of Australia, Mallacoota Sub-Branch.
<br><br>
Mark has a passion for Community Based Disaster Recovery and has launched platforms including <a href='https://mallacootaau.recovers.org/' style='color:#ffcc44'>Mallacoota Recovers</a> and <a href='http://www.dove.org.au/' style='color:#ffcc44'>DOVE</a>."><i class="fi-info"></i></span> 
            <p><strong>Mark Tregellas</strong><br>
            Manager (AU)</p>
        </div>
            <div class="large-3 medium-6 small-6 columns team">
                <%= image_tag "headshots/chriswood.jpg", :alt => "Chris Wood"  %>  
                <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="<a href='https://twitter.com/cpwood' style='color:#ffcc44'>Chris Wood</a> is a freelance software developer and startup-ponderer based in London. Though his modesty would never allow him to admit it, Chris is an incredibly proficient Python & GAE programmer. Chris was a major contributor to the project through 2015."><i class="fi-info"></i></span>
                <p><strong>Chris Wood</strong><br>
                Developer</p>
            </div>
                <div class="large-3 medium-6 small-6 columns team">
                    <%= image_tag "headshots/jeremypack.jpg", :alt => "Jeremy Pack"  %>
                    <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="<a href='https://plus.google.com/100981388284358828816/about' style='color:#ffcc44'>Jeremy Pack</a> is a mathematician and software engineer on the Google Street View project. He lives with his wife and four children in Mountain View, California.

Jeremy was the primary developer of the first major deployment of Crisis Cleanup (Hurricane Sandy)."><i class="fi-info"></i></span>
                    <p><strong>Jeremy Pack</strong><br>
                    Developer</p>
                </div>
                    <div class="large-3 medium-6 small-6 columns team">
                        <%= image_tag "headshots/brucechristensen.jpg", :alt => "Bruce Christensen"  %>
                        <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="<a href='https://plus.google.com/+BruceChristensen/about' style='color:#ffcc44'>Bruce Christensen</a> is a software engineer on the Google search team. He lives with his family in Mountain View, California.

Bruce was a major developer of the first major deployment of Crisis Cleanup (Hurricane Sandy)."><i class="fi-info"></i></span>
                        <p><strong>Bruce Christensen</strong><br>
                        Developer</p>
                    </div>        
    </div>
    <h4>Other Contributors</h4>
    <p>Thanks to the 40,000+ volunteers who give life to Crisis Cleanup by helping their neighbors after disasters.</p>
    <p>Thanks to <a href="http://www.visionlink.org">VisionLink</a> for technical and educational support, <a href="http://www.thinkso.com/who/bt.php">Brett Traylor</a> of the New York design firm, <a href="http://www.thinkso.com/">thinkso</a>, for developing the Crisis Cleanup "pins" brand. <a href="http://www.nicolaszanghi.com/">Nicolas Zanghi</a> has redesigned the Crisis Cleanup interface for the <a href="http://www.iom.int/">IOM</a>'s implementation of Crisis Cleanup for the Philippines. Thanks also to <a href="https://www.linkedin.com/pub/karissa-phelps/44/563/73a">Karissa Phelps</a> who designed our map icons, <a href="http://www.shekhardesigner.com/">Shekhar Sharma</a> for use of a previous CSS template, and <a href="https://code.google.com/p/sandy-disaster-recovery/people/list">many other developers</a> who have contributed to this project.</p>
</div>
<% end %>

<% content_for :sidebar do %>
<div id="sidebar">
    <h4>Real Innovation</h4>
    <p>The real innovation of this system is the ability to coordinate tens of thousands of volunteers from dozens of organizations to thousands of sites after a disaster. Crisis Cleanup proves that it is possible to create a near frictionless technological platform where inter-organization Cooperation, Communication, Coordination, and Collaboration is not only convenient, but required.
    </p>
<h4>Impact and Return on Investment (ROI)</h4>
<p>Crisis Cleanup is not-for-profit, which means we don't measure ROI in dollars, but in community impact. Impact measurements include:</p>
<ul>
    <li><strong>29</strong>: Number of disaster relief efforts assisted since July, 2012.</li>
    <li><strong>4</strong>: Number of countries using Crisis Cleanup.</li>
    <li><strong>400+</strong>: Number of relief organizations that have used Crisis Cleanup, Worldwide</li>
    <li><strong>25%</strong>: Approximate increase in volunteer efficiency through elimination of time spent on travel, coordination, collaboration, and management.</li> <!-- Estimate 5 hours per volunteer, per week. Save 1.25 hours in travel to and from command center, reassignment, frustrated volunteers who can't get reassigned and quit early, etc. -->
    <li><strong>16,000+</strong>: Households assisted, worldwide.</li> <!-- Count from database -->
    <li><strong>40,000+</strong>: Volunteers who have directly or indirectly used Crisis Cleanup.</li> <!-- Experience -->
    <li><strong>900,000+</strong>: Number of volunteer hours facilitated.</li> <!-- Sandy = 300K. Extrapolate: *3, to 16,000 sites from ~5,000. -->
    <li><strong>225,000+</strong>: Volunteer hours to survivors enabled by Crisis Cleanup that would have otherwise been wasted in management, travel, and overhead.</li> <!-- 900K*.25 -->
    <li><strong>$1.5 Million</strong>: Minimum value FEMA offset value to local governments in the United States.</li> <!-- 75K hours * $20/hour -->
    <li><strong>$30 Million</strong>: Minimum market value of services to survivors, enabled by redirecting volunteers to serving survivors rather than management and overhead.</li> <!-- Estimate 75% of 16,000 were helped. (12,000) 25% of those could not have otherwise been helped without CCU (3,000). Value of work per home = $10K. -->
    <li><strong>For every $1 invested in Crisis Cleanup, survivors have received <u>$69</u> in value.</strong></li>
</ul>
    </div>
<% end %>