<% content_for :subheader do %>
<div class="subheader">
    <h2>The People and Philosophies of Crisis Cleanup</h2>
    <h4 class="basic">We are building a new kind of system. Who's in charge? You are.</h4>
    <hr class="medium">
</div>
<% end %>

<% content_for :main do %>
<div id="main" class="alt">
    <div class="row">
        <h3>A New Philosophy For Disaster Relief</h3>
        <iframe class="about-intro" width="" height="" src="https://www.youtube.com/embed/yCxI5YHyX5k" frameborder="0" allowfullscreen></iframe>
            <h5 class="basic">Crisis Cleanup's core objective is to embrace and support the interests of disaster survivors by providing transparent, collaborative, and privacy-enhancing open source technology to assist those who directly interact with and help survivors.</h5>
        <p>Crisis Cleanup is an open source project and operates through the fiduciary agent Crisis Cleanup, LLC based out of New Jersey. We are currently looking for a non-profit fiscal agent. Other organizations sponsor implementations of Crisis Cleanup in Australia, India, the Philippines, and elsewhere.</p>

        <h4>The system is based upon a few foundational philosophies:</h4>
            <ul>
                <li>The right way to do things is however it gets done, locally.</li>
                <li>Technology should enhance, not replace, inter-organization relationships.</li>
                <li>Voluntary organizations are co-equal, sovereign and interdependent; no single organization is in charge. There is no pyramid, and you're not on top.</li>
                <li>Collaboration and communication should be not only convenient, but required.</li>
                <li>There is no such thing as the “One App to Rule them All.” The system should not try to do things it was not intended to do.</li>
                <li>The system tracks property, not people. Consequently, strict personal information minimization policies are in place.</li>
            </ul>
        <p><strong>Crisis Cleanup's real innovation is the ability to coordinate tens of thousands of volunteers from hundreds of organizations to thousands of sites after a disaster in a non-hierarchical collaborative environment</strong>. Crisis Cleanup proves that it is possible to create a near frictionless technological platform where inter-organization Cooperation, Communication, Coordination, and Collaboration is not only convenient, but required.</p>
    </div>
    <div class="row">
        <h3>The People of Crisis Cleanup</h3>
        <div class="large-3 medium-6 small-6 columns team" align="center">
            <%= image_tag "headshots/aarontitus.jpg", :alt => "Aaron Titus"  %>
            <p><strong>Aaron Titus</strong><br>
            Project Manager</p>
        </div>
            <div class="large-3 medium-6 small-6 columns team" align="center">
                <%= image_tag "headshots/andygimma.jpg", :alt => "Andy Gimma"  %>
                <p><strong>Andy Gimma</strong><br>
                Developer &amp; Project Manager</p>
            </div>
                <div class="large-3 medium-6 small-6 columns team" align="center">
                    <%= image_tag "headshots/zacharystraub.jpg", :alt => "Zachary Straub"  %>
                    <p><strong>Zachary Straub</strong><br>
                    Designer</p>
                </div>
                    <div class="large-3 medium-6 small-6 columns team" align="center">
                        <%= image_tag "headshots/dhruvmehrotra.jpg", :alt => "Dhruv Mehrotra"  %>
                        <p><strong>Dhruv Mehrotra</strong><br>
                        Developer</p>
                    </div>        
    </div>
    <div class="row">
        <div class="large-3 medium-6 small-6 columns team" align="center">
            <%= image_tag "headshots/marktregellas.jpg", :alt => "Mark Tregellas"  %>
            <p><strong>Mark Tregellas</strong><br>
            Manager (AU)</p>
        </div>
            <div class="large-3 medium-6 small-6 columns team" align="center">
                <%= image_tag "headshots/chriswood.jpg", :alt => "Chris Wood"  %>
                <p><strong>Chris Wood</strong><br>
                Developer</p>
            </div>
                <div class="large-3 medium-6 small-6 columns team" align="center">
                    <%= image_tag "headshots/jeremypack.jpg", :alt => "Jeremy Pack"  %>
                    <p><strong>Jeremy Pack</strong><br>
                    Developer</p>
                </div>
                    <div class="large-3 medium-6 small-6 columns team" align="center">
                        <%= image_tag "headshots/brucechristensen.jpg", :alt => "Bruce Christensen"  %>
                        <p><strong>Bruce Christensen</strong><br>
                        Developer</p>
                    </div>        
    </div>
    <h4>Contributors</h4>
    <p>Thanks to <a href="http://www.thinkso.com/who/bt.php">Brett Traylor</a> of the New York design firm, <a href="http://www.thinkso.com/">thinkso</a>, for developing the Crisis Cleanup "pins" brand. <a href="http://www.nicolaszanghi.com/">Nicolas Zanghi</a> has redesigned the Crisis Cleanup interface for the <a href="http://www.iom.int/">IOM</a>'s implementation of Crisis Cleanup for the Philippines. Thanks also to <a href="https://www.linkedin.com/pub/karissa-phelps/44/563/73a">Karissa Phelps</a> who designed our map icons and <a href="https://code.google.com/p/sandy-disaster-recovery/people/list">many other developers</a> who have contributed to this project.</p>
</div>
<% end %>

<% content_for :sidebar do %>
<div id="sidebar">
    <h4>Real Innovation</h4>
    <p>The real innovation of this system is the ability to coordinate tens of thousands of volunteers from dozens of organizations to thousands of sites after a disaster. Crisis Cleanup proves that it is possible to create a near frictionless technological platform where inter-organization Cooperation, Communication, Coordination, and Collaboration is not only convenient, but required.
    </p>
<h4>Impact and Return on Investment (ROI)</h4>
<p>Crisis Cleanup is not-for-profit, which means we don't measure ROI in dollars, but in community impact. Impact measurements include:</p>
    <ul>
        <li><strong>21</strong>: Number of disaster relief efforts assisted since July, 2012.</li>
        <li><strong>4</strong>: Number of countries using Crisis Cleanup.</li>
        <li><strong>300+</strong>: Number of relief organizations that have used Crisis Cleanup, Worldwide</li>
        <li><strong>25%</strong>: Approximate increase in volunteer efficiency through elimination of time spent on travel, coordination, collaboration, and management.</li>
        <li><strong>10,000+</strong>: Households assisted, worldwide.</li>
        <li><strong>40,000+</strong>: Volunteers who have directly or indirectly used Crisis Cleanup.
        <li><strong>300,000+</strong>: Number of volunteer hours facilitated.</li>
        <li><strong>75,000+</strong>: Volunteer hours to survivors enabled by Crisis Cleanup that would have otherwise been wasted in management, travel, and overhead.</li>
        <li><strong>$1.5 Million</strong>: Minimum value FEMA offset value to local governments in the United States.</li>
        <li><strong>$25 Million</strong>: Minimum market value of services to survivors, enabled by redirecting volunteers to serving survivors rather than management and overhead.</li>
        <li><strong>For every $1 invested in Crisis Cleanup</strong>, survivors have received $261.34 in value.</li>
    </ul>
    </div>
<% end %>