<% content_for :title do %>
    Crisis Cleanup - About
<% end %>

<% content_for :subheader do %>
<div class="row subheader">
    <div class="small-12 medium-8 large-10 columns">
        <h2>The People and Philosophies of Crisis Cleanup</h2>
        <h4 class="basic">We are building a new kind of system. Who's in charge? You are.</h4>
        <hr class="medium">
        <p><strong>Mission: To help voluntary relief organizations help more people by enabling collaborative disaster recovery.</strong></p>
    </div>
    <div class="small-12 medium-4 large-2 columns" align="center">
        <%= image_tag "characters/Multi Color 2.png", :class => "character" ,:alt => "about crisis cleanup"  %>
    </div>
</div>
<% end %>

<% content_for :main do %>
<div id="main" class="alt">
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
        <h3>A New Philosophy For Disaster Relief</h3>
        <p><strong>Mission: To optimize disaster recovery service delivery through decentralized collaboration.</strong></p>
        <iframe class="about-intro" width="" height="" src="https://www.youtube.com/embed/yCxI5YHyX5k" frameborder="0" allowfullscreen></iframe>
        <p>Crisis Cleanup helps relief organizations help more people.</p>
        <p>Crisis Cleanup is a collaborative disaster work order management platform. It improves coordination, decreases duplication of efforts, enhances efficiency, and improves the volunteer experience. Crisis Cleanup works best when a large number of voluntary organizations with a lot of volunteers, work together to help a large number of people over a wide area, all at the same time.</p>
        <p>Crisis Cleanup helps with the "4Cs" of disaster recovery: <em>Communication, Coordination, Collaboration, and Cooperation,</em> as well as Competition. Crisis Cleanup does <strong>not</strong> create the "4Rs" of disaster recovery: Relationships, Resources, Roles, and Responsibilities. It cannot fix relationships, create resources, or dictate who does what.</p>
        <p>Crisis Cleanup is for collaborative work order management; not volunteer, donations or case management. To protect clients, <strong>Crisis Cleanup is about property, not people.</strong></p>

            <h5 class="basic">Crisis Cleanup embraces and supports the interests of disaster survivors by providing transparent, collaborative, and privacy-enhancing open source technology to assist those who directly interact with and help survivors.</h5>
        <p>Crisis Cleanup is an open source project and operates through the fiduciary agent Crisis Cleanup, LLC based out of New Jersey. We are currently looking for a non-profit fiscal agent. Other organizations sponsor implementations of Crisis Cleanup in Australia, India, the Philippines, and elsewhere.</p>

        <h4>Foundational Philosophies:</h4>
            <ul>
                <li>The right way to do things is however it gets done, locally.</li>
                <li>Technology should enhance, not replace, inter-organization relationships.</li>
                <li>There is no pyramid, and you're not on top. Voluntary organizations are co-equal, sovereign and interdependent; no single organization is in charge.</li>
                <li>Collaboration and communication should be not only convenient, but required.</li>
                <li>There is no such thing as the “One App to Rule them All.” The system should not try to do things it was not intended to do.</li>
                <li>The system tracks property, not people. Consequently, strict personal information minimization policies are in place.</li>
            </ul>
        <p><strong>Crisis Cleanup's real innovation is the ability to coordinate tens of thousands of volunteers from hundreds of organizations to thousands of sites after a disaster in a non-hierarchical collaborative environment</strong>. Crisis Cleanup proves that it is possible to create a near frictionless technological platform where inter-organization Cooperation, Communication, Coordination, and Collaboration is not only convenient, but required.</p>
        <h3>Testimonials</h3>
        <iframe class="about-intro" width="" height="" src="https://www.youtube.com/embed/vyyCkSEZIJ0" frameborder="0" allowfullscreen></iframe><br />
        <iframe class="about-intro" width="" height="" src="https://www.youtube.com/embed/yhfWOPoY5hk" frameborder="0" allowfullscreen></iframe>
        <h3>Helpful Links</h3>
        <ul>
            <li><a href="https://crisiscleanup-demo.herokuapp.com/">Crisis Cleanup Demo Site</a></li>
            <li><a href="/training">Mandatory Training Video</a></li>
            <li><a href="https://crisiscleanup.zendesk.com/hc/en-us/articles/200603007-Requirements-for-Participation">Requirements for Participation</a></li>
            <li><a href="https://crisiscleanup.zendesk.com/hc/en-us/articles/200596493-Is-Crisis-Cleanup-a-Good-Fit-">Is Crisis Cleanup a Good Fit?</a> Factors that lead to successful deployments.</li>
            <!--<li><a href="http://www.crisiscleanup.org/donate">Fundraiser</a></li>-->
            <li><a href="https://crisiscleanup.zendesk.com/hc/en-us">Helpdesk</a></li>
        </ul>
        <h3>The People of Crisis Cleanup</h3>
        <div class="row">
        <div class="large-3 medium-6 small-6 columns team">
            <%= image_tag "headshots/aarontitus.jpg", :alt => "Aaron Titus"  %>
            <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="<a href='https://twitter.com/aarontitus' style='color:#ffcc44'>Aaron Titus</a> is a proud husband and father of eight children, the LDS Charities representative to Colorado VOAD, the president of the Mountain West VOAD, a privacy attorney, and author of <em>How to Prepare for Everything</em>.
<br><br>
He helped organize the Mormon Helping Hands responses for Hurricane Irene in 2011, the New Jersey 'Derecho' thunderstorms and Hurricane Sandy in 2012. He is a recipient of the New Jersey Governor's Jefferson Award for public service."><i class="fi-info"></i></span>
            <p><strong>Aaron Titus</strong><br>
            Executive Director</p>
        </div>
            <div class="large-3 medium-6 small-6 columns team">
                <%= image_tag "headshots/andygimma.jpg", :alt => "Andy Gimma"  %>
                <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="<a href='https://twitter.com/AndyGimma' style='color:#ffcc44'>Andy Gimma</a> is an Android, Python, Google App Engine, Ruby, open source and open data programmer, with an emphasis is in non-hierarchical organizing structures. He likes Russian literature, Kenzaburo Oe, and avoiding the beaten path."><i class="fi-info"></i></span> 
                <p><strong>Andy Gimma</strong><br>
                Developer &amp; Project Manager</p>
            </div>
                <div class="large-3 medium-6 small-6 columns team">
                    <%= image_tag "headshots/zacharystraub.jpg", :alt => "Zachary Straub"  %>
                    <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="<a href='https://www.linkedin.com/in/zacharystraub' style='color:#ffcc44'>Zachary Straub</a> specializes in web design, UI/UX, branding, and SEO. His passions include aiding in community development projects and facilitating creativity to others. 
<br><br>
Zachary currently runs a locally-owned microbusines, <a href='http://straubcreative.nationbuilder.com' style='color:#ffcc44'>Straub Creative Company</a> out of San Francisco, California."><i class="fi-info"></i></span>                    
                    <p><strong>Zachary Straub</strong><br>
                    Designer</p>
                </div>
                    <div class="large-3 medium-6 small-6 columns team">
                        <%= image_tag "headshots/dhruvmehrotra.jpg", :alt => "Dhruv Mehrotra"  %>
                        <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="<a href='https://twitter.com/dmehro' style='color:#ffcc44'>Dhruv Mehrotra</a> is a recent NYU graduate and has been doing web development since college. In his spare time he has been building interactive tools for disaster relief, as well as pursuing personal artistic endeavors.
<br><br>
Dhruv's specialties include Javascript, Node, Ruby, Rails, CSS3, HTML5."><i class="fi-info"></i></span>                        
                        <p><strong>Dhruv Mehrotra</strong><br>
                        Developer</p>
                    </div>        
    </div>
    <div class="row">
        <div class="large-3 medium-6 small-6 columns team">
            <%= image_tag "headshots/marktregellas.jpg", :alt => "Mark Tregellas"  %>
            <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="<a href='http://au.linkedin.com/pub/mark-tregellas/50/ba8/263' style='color:#ffcc44'>Mark Tregellas</a> is a husband and father of 3 children. He works as a police officer, and also as the President of the Returned and Services League of Australia, Mallacoota Sub-Branch.
<br><br>
Mark has a passion for Community Based Disaster Recovery and has launched platforms including <a href='https://mallacootaau.recovers.org/' style='color:#ffcc44'>Mallacoota Recovers</a> and <a href='http://www.dove.org.au/' style='color:#ffcc44'>DOVE</a>."><i class="fi-info"></i></span> 
            <p><strong>Mark Tregellas</strong><br>
            Manager (AU)</p>
        </div>
            <div class="large-3 medium-6 small-6 columns team">
                <%= image_tag "headshots/chriswood.jpg", :alt => "Chris Wood"  %>  
                <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="<a href='https://twitter.com/cpwood' style='color:#ffcc44'>Chris Wood</a> is a freelance software developer and startup-ponderer based in London. Though his modesty would never allow him to admit it, Chris is an incredibly proficient Python & GAE programmer. Chris was a major contributor to the project through 2015."><i class="fi-info"></i></span>
                <p><strong>Chris Wood</strong><br>
                Developer</p>
            </div>
                <div class="large-3 medium-6 small-6 columns team">
                    <%= image_tag "headshots/jeremypack.jpg", :alt => "Jeremy Pack"  %>
                    <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="<a href='https://plus.google.com/100981388284358828816/about' style='color:#ffcc44'>Jeremy Pack</a> is a mathematician and software engineer on the Google Street View project. He lives with his wife and four children in Mountain View, California.

Jeremy was the primary developer of the first major deployment of Crisis Cleanup (Hurricane Sandy)."><i class="fi-info"></i></span>
                    <p><strong>Jeremy Pack</strong><br>
                    Developer</p>
                </div>
                    <div class="large-3 medium-6 small-6 columns team">
                        <%= image_tag "headshots/brucechristensen.jpg", :alt => "Bruce Christensen"  %>
                        <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="<a href='https://plus.google.com/+BruceChristensen/about' style='color:#ffcc44'>Bruce Christensen</a> is a software engineer on the Google search team. He lives with his family in Mountain View, California.

Bruce was a major developer of the first major deployment of Crisis Cleanup (Hurricane Sandy)."><i class="fi-info"></i></span>
                        <p><strong>Bruce Christensen</strong><br>
                        Developer</p>
                    </div>        
    </div>
    <h4>Major Supporters</h4>
    <p>We recognize Crisis Cleanup's financial and in-kind supporters with gratitude. Support does not necessarily imply endorsement. They include:</p>
        <div class="row">
            <div class="large-3 medium-6 small-6 columns team">
                <%= image_tag "supporters/arc_logo.jpg", :alt => "The American Red Cross"  %>
                <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="The American Red Cross provided Crisis Cleanup with initial development funding after Hurricane Sandy in 2012."><i class="fi-info"></i></span>
                <p><strong><a href="http://www.redcross.org/" target="_blank">The American Red Cross</a></strong></p>
            </div>
            <div class="large-3 medium-6 small-6 columns team">
                <%= image_tag "supporters/houston_logo.png", :alt => "The City of Houston"  %>
                <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="The City of Houston, through the Housing and Community Development Department, graciously provided funding for a major upgrade to Crisis Cleanup in 2015/2016."><i class="fi-info"></i></span>
                <p><strong><a href="http://www.houstontx.gov/housing/" target="_blank">The City of Houston</a></strong></p>
            </div>
            <div class="large-3 medium-6 small-6 columns team">
                <%= image_tag "supporters/visionlink_logo.jpg", :alt => "VisionLink"  %>
                <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="VisionLink, a Boulder-based software company, provided two years' of in-kind support from 2014 to 2016."><i class="fi-info"></i></span>
                <p><strong><a href="http://visionlink.org/" target="_blank">VisionLink</a></strong></p>
            </div>
            <div class="large-3 medium-6 small-6 columns team">
                <%= image_tag "supporters/ldscharities_logo.jpg", :alt => "LDS Charities"  %>
                <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="We are grateful for LDS Charties' support."><i class="fi-info"></i></span>
                <p><strong><a href="https://www.ldscharities.org/" target="_blank">LDS Charities</a></strong></p>
            </div>    
        </div>
        <div class="row">
            <div class="large-3 medium-6 small-6 columns team">
                <%= image_tag "supporters/connectfirst_logo.png", :alt => "ConnectFirst"  %>
                <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="ConnectFirst, a Boulder-based telelphony company, has provided thousands of hours of in-kind telephony support."><i class="fi-info"></i></span>
                <p><strong><a href="http://www.connectfirst.com/" target="_blank">ConnectFirst</a></strong></p>
            </div>
            <div class="large-3 medium-6 small-6 columns team">
                <%= image_tag "supporters/umcor_logo.jpg", :alt => "UMCOR"  %>
                <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="UMCOR provided important financial support at a critical time."><i class="fi-info"></i></span>
                <p><strong><a href="https://www.umcor.org/" target="_blank">UMCOR</a></strong></p>
            </div>
            <div class="large-3 medium-6 small-6 columns team">
                <%= image_tag "supporters/volunteer_florida_logo.jpg", :alt => "Volunteer Florida"  %>
                <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="Volunteer Florida provided important financial support at a critical time."><i class="fi-info"></i></span>
                <p><strong><a href="https://www.volunteerflorida.org/" target="_blank">Volunteer Florida</a></strong></p>
            </div>
            <div class="large-3 medium-6 small-6 columns team">
                <%= image_tag "supporters/h2prep_logo.jpg", :alt => "How to Prepare for Everything"  %>
                <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="Sales of <em>How to Prepare for Everything</em> support development of Crisis Cleanup."><i class="fi-info"></i></span>
                <p><strong><a href="http://h2prep.me/ccu" target="_blank">How to Prepare for Everything</a></strong></p>
            </div>    
        </div>
        <div class="row">
            <div class="large-3 medium-6 small-6 columns team">
                <%= image_tag "supporters/nj211_logo.jpg", :alt => "NJ 2-1-1"  %>
                <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="NJ 2-1-1 served as Crisis Cleanup's fiscal agent for several years after Hurricane Sandy."><i class="fi-info"></i></span>
                <p><strong><a href="http://www.nj211.org/" target="_blank">NJ 2-1-1</a></strong></p>
            </div>
            <div class="large-3 medium-6 small-6 columns team">
                <%= image_tag "supporters/thinkso_logo.png", :alt => "ThinkSo"  %>
                <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="ThinkSo developed the Crisis Cleanup 'pins' brand."><i class="fi-info"></i></span>
                <p><strong><a href="https://thinkso.com/" target="_blank">ThinkSo</a></strong></p>
            </div>    
            <div class="large-3 medium-6 small-6 columns team">
                <%= image_tag "supporters/sahana_logo.jpg", :alt => "Sahana Software Foundation"  %>
                <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="We are gratful for the partnership of the Sahana Foundation."><i class="fi-info"></i></span>
                <p><strong><a href="https://sahanafoundation.org" target="_blank">Sahana Software Foundation</a></strong></p>
            </div>
            <!--
            <div class="large-3 medium-6 small-6 columns team">
                <%= image_tag "supporters/***", :alt => "***"  %>
                <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="***"><i class="fi-info"></i></span>
                <p><strong><a href="***" target="_blank">***</a></strong></p>
            </div>
            <div class="large-3 medium-6 small-6 columns team">
                <%= image_tag "supporters/***", :alt => "***"  %>
                <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="***"><i class="fi-info"></i></span>
                <p><strong><a href="***" target="_blank">***</a></strong></p>
            </div>
            -->
        </div>

    <h4>Other Contributors</h4>
    <p>Thanks to the 150,000+ volunteers who give life to Crisis Cleanup by helping their neighbors after disasters.</p>
    <p><a href="http://www.nicolaszanghi.com/">Nicolas Zanghi</a> redesigned the Crisis Cleanup interface for the <a href="http://www.iom.int/">IOM</a>'s implementation of Crisis Cleanup for the Philippines. Thanks also to <a href="https://www.linkedin.com/pub/karissa-phelps/44/563/73a">Karissa Phelps</a> who designed our map icons, <a href="http://www.shekhardesigner.com/">Shekhar Sharma</a> for use of a previous CSS template, and <a href="https://github.com/CrisisCleanup/crisiscleanup/watchers">many other developers</a> who have contributed to this project.</p>

    </div>
        </div>
</div>
<% end %>

<% content_for :sidebar do %>
<div id="sidebar">
    <h4>Real Innovation</h4>
    <p>The real innovation of this system is the ability to coordinate tens of thousands of volunteers from dozens of organizations to thousands of sites after a disaster. Crisis Cleanup proves that it is possible to create a near frictionless technological platform where inter-organization Cooperation, Communication, Coordination, and Collaboration is not only convenient, but required.
    </p>
<h4>Impact and Return on Investment (ROI)</h4>
<p>Crisis Cleanup is not-for-profit, which means we don't measure ROI in dollars, but in community impact. Impact measurements include:</p>
<ul>
    <li><strong>70</strong>:  <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="See <a href='http://blog.crisiscleanup.org/2013/11/all-crisis-cleanup-incidents.html'>http://blog.crisiscleanup.org/2013/11/all-crisis-cleanup-incidents.html</a>"><i class="fi-info"></i></span> Number of disasters <a href='http://blog.crisiscleanup.org/2013/11/all-crisis-cleanup-incidents.html' target=_blank>since July 2012</a>.</li>
    <li><strong>31</strong>:  <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="See <a href='http://blog.crisiscleanup.org/2013/11/all-crisis-cleanup-incidents.html'>http://blog.crisiscleanup.org/2013/11/all-crisis-cleanup-incidents.html</a>"><i class="fi-info"></i></span> <a href='http://blog.crisiscleanup.org/2013/11/all-crisis-cleanup-incidents.html' target=_blank>States</a> in which Crisis Cleanup has been used.</li>
    <li><strong>5</strong>:  <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="See <a href='http://blog.crisiscleanup.org/2013/11/all-crisis-cleanup-incidents.html'>http://blog.crisiscleanup.org/2013/11/all-crisis-cleanup-incidents.html</a>"><i class="fi-info"></i></span> Number of countries using Crisis Cleanup.</li>
    <li><strong>831</strong>:  <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="Number of organizations in the database, after removing duplicates. (Updated 9/7/2017)."><i class="fi-info"></i></span> Number of relief organizations that have used Crisis Cleanup, worldwide.</li>
    <li><strong>25%</strong>:  <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="Examples:<br/><strong>Assessments w/ Crisis Cleanup</strong>: 2-3 volunteers knock doors. One assessment takes 15-45 minutes, or 30-135 volunteer minutes.<br /><strong>Assessments w/out Crisis Cleanup</strong>: A survivor calls the Crisis Cleanup hotline. The assessment takes 7 minutes. <u>Improved efficiency: 76%-98%</u>.<br /><br /><strong>Deployment without Crisis Cleanup</strong>: Team of 10 drives 30 mins to a command center or VRC. They wait for 90 minutes to check in and get paper work orders. Then, they drive 45 mins to assigned location. They have wasted 27.5 volunteer-hours in travel and overhead.<br /><strong>Deployment with Crisis Cleanup</strong>: The team leader logs into the system on a Wednesday. He or she claims a few work orders, calls the home owner and arranges a time to meet on the weekend. Team of 10 skips the line and goes straight to work. The team only spends 7.5 volunteer-hours in travel before working. After they are done, they log in, update the map, and claims a nearby work order. Combined, the team saves 20-50 volunteer-hours more each day helping people, instead of traveling. <u>Improves efficiency by 25%-60%</u>."><i class="fi-info"></i></span> Increase in volunteer efficiency through elimination of time spent on travel, coordination, collaboration, and management.</li>
    <li><strong>29,689</strong>:  <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="The number of work orders that were reported completed, or likely completed. (Updated 9/7/2017)."><i class="fi-info"></i></span> Households assisted, worldwide.</li>
    <li><strong>7,422</strong>:  <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="The improved efficiency (25%) of the total number of homes (29,689). (Updated 9/7/2017)."><i class="fi-info"></i></span> Additional households helped because of Crisis Cleanup.</li>
    <li><strong>15</strong>:  <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="Volunteers using Crisis Cleanup helped 29,689 homes in 1,877 days. (Updated 9/7/2017)."><i class="fi-info"></i></span> Households assisted, every day.</li>
    <li><strong>155,840</strong>:  <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="Calculated by estimating the number of volunteers per organization: 500 for LDS stakes and 25 for all other organizations. (Updated 9/7/2017)."><i class="fi-info"></i></span> Volunteers who have directly or indirectly used Crisis Cleanup.</li>
    <li><strong>1.8 Million</strong>:  <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="Based on experience, we estimate 60 hours per work order, on average. Multiplied by 29,689 homes helped."><i class="fi-info"></i></span> Number of volunteer hours facilitated.</li>
    <li><strong>445,000</strong>:  <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="25% of 1.8 Million"><i class="fi-info"></i></span> Volunteer hours to survivors enabled by Crisis Cleanup that would have otherwise been wasted in management, travel, and overhead.</li>
    <li><strong>$166.6 Million</strong>:  <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="Calculated on a work-order-by-work-order basis, based upon the status (e.g., open, closed, partially complete), and the commercial value of the service rendered. Includes only work done by organizations using Crisis Cleanup. Total value reported by organizations in and out of Crisis Cleanup is $250.2 Million. (Updated 9/7/2017)."><i class="fi-info"></i></span> Minimum total market value of services to survivors.</li>
    <li><strong>$1,069</strong>:  <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="The commercial value each volunteer gives to his/her community, on average ($166.6 Million/155,836 volunteers)."><i class="fi-info"></i></span> Value of each cleanup volunteer to his/her community.</li>
    <li><strong>$41.6 Million</strong>:  <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="25% of $166.6 Million"><i class="fi-info"></i></span> Additional market value of services to survivors that would have otherwise been wasted in travel, management, overhead, and standing in lines.</li>
    <li><strong>$22,187</strong>:  <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="Crisis Cleanup has created $41.6 Million of value in 1,877 days. (Updated 9/7/2017)."><i class="fi-info"></i></span> Money Crisis Cleanup has saved survivors every single day since July 18, 2012.</li>
    <li><strong>$8,428</strong>:  <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="Total commercial value of all work done ($250.2 Million), divided by the total number of homes helped (29,689). (Updated 9/7/2017)."><i class="fi-info"></i></span> Average commercial value of service to each homeowner.</li>
    <li><strong>$156</strong>:  <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="Market value of additional services provided ($41.6 Million) divided by the total amount of money invested in Crisis Cleanup development ($267,000). (Updated 9/7/2017)."><i class="fi-info"></i></span> Return on investment to survivors, for every $1 invested in Crisis Cleanup.</li>
</ul>
    </div>
<% end %>
