<% content_for :title do %>
    Crisis Cleanup - Contact
<% end %>

<% content_for :main do %>
	<div class="row">
		<div class='small-12 medium-12 large-12 columns'>
        	<h3><%= t('contact_1') %></h3>		
		</div>
	</div>
	<div class="row">
		<div class='small-12 medium-12 large-12 columns'>
			<p>
			<table border = "0">
				<tr>
					<th><%= t('contact_2') %></th>
					<th><%= t('contact_3') %></th>
				</tr>
				<tr>
					<td><strong><%= t('contact_4') %></strong></td>
					<td><%= t('contact_5') %></td>
				</tr>
				<tr>
					<td><strong><%= t('contact_6') %></strong></td>
					<td><%= t('contact_7') %></td>
				</tr>
				<tr>
					<td><strong><%= t('contact_8') %></strong></td>
					<td><%= t('contact_9') %></td>
				</tr>
				<tr>
					<td><strong><%= t('contact_10') %></strong></td>
					<td><%= t('contact_11') %> <a href="https://crisiscleanup.zendesk.com/hc"><%= t('contact_12') %></a><%= t('contact_13') %><a href="https://twitter.com/CrisisCleanup">@CrisisCleanup</a><%= t('contact_14') %><a href="https://www.facebook.com/pages/Crisis-Cleanup/437690172982553?fref=ts"><%= t('contact_15') %></a><%= t('contact_16') %></td>
				</tr>
			</table>
			</p>
			<p><%= t('contact_17') %><a href="https://github.com/CrisisCleanup/crisiscleanup"><%= t('contact_18') %></a>.</p>
			<p><%= t('contact_19') %><a href="/donate"><%= t('contact_20') %></a>.</p>-->
			<p><%= t('contact_21') %></p>
        </div>


</div>
<%end%>
