<% content_for :title do %>
    Crisis Cleanup - Home
<% end %>

<% content_for :subheader do %>
    <header class="splash-image">
        <div class="splash-image-cta-section">
            <div class="small-12 medium-6 large-6 columns">
                <h3><%= t('home_p1') %></h3>
                <h4><%= t('home_p2') %></h4>
                <h5><%= t('home_p3') %></h5>
                    <a href="/register" class="button" id="register-btn"><%= t('home_register_btn') %></a>
                    <%= link_to t('home_login_btn'), new_user_session_path, class: "gray-block button" %>
                <h5><%= t('home_p4') %></h5>
                <form>
                    <select id="location-select">
                        <option value="" disabled selected="selected"><%= t('home_dd_opt_1') %></option>
                        <option value="voad"><%= t('home_dd_opt_2') %></option>
                        <option value="government"><%= t('home_dd_opt_3') %></option>
                        <option value="volunteer"><%= t('home_dd_opt_4') %></option>
                        <option value="survivor"><%= t('home_dd_opt_5') %></option>
                        <option value="about"><%= t('home_dd_opt_6') %></option>
                    </select>
                    <a href="#" class="button" id="lets-go-btn"><%= t('home_learnmore_btn') %></a>
                    <a href="http://bit.ly/CCUPatreon" class="button success" id="support-ccu"><%= t('home_supportccu_btn') %></a>
                </form>
            </div>
        </div>
    </header>    
<% end %>

<% content_for :main do %>
<div id="main">
    <div class="row home_coordinated_disasters">
        <h2 align="center">124 Disasters Coordinated</h2> <!--(Updated 6/14/2019) <%= t('home_main_1') %>-->
        <p align="center"><%= t('home_main_2') %></p>
        <hr class="medium">
            <div class="columns small-12 medium-12 large-4" align="center">
                <%= image_tag "icons/tornado-red.png", :alt => "dallas tornadoes"  %>
                <h3 class="red-block"><%= t('home_main_3') %></h3>
                <p><%= t('home_main_4') %><br /><br /><br /></p>
            </div>
            <div class="columns small-12 medium-12 large-4" align="center">
                <%= image_tag "icons/hurricane-yellow.png", :alt => "hurricane sandy"  %>
                <h3 class="mustard-block"><%= t('home_main_5') %></h3>
                <p><%= t('home_main_6') %><br /><br /></p>
            </div>
            <div class="columns small-12 medium-12 large-4" align="center">
                <%= image_tag "icons/flood-blue.png", :alt => "tx / ok floods"  %>
                <h3 class="blue-block"><%= t('home_main_7') %></h3>
                <p><%= t('home_main_8') %></p>
            </div>
        </div>
        <div class="row home_coordinated_disasters">
            <div class="columns small-12 medium-12 large-4" align="center">
                <%= image_tag "icons/snowflake-green.png", :alt => "boston snowflakes"  %>
                <h3 class="green-block"><%= t('home_main_9') %></h3>
                <p><%= t('home_main_10') %></p>
            </div>
            <div class="columns small-12 medium-12 large-4" align="center">
                <%= image_tag "icons/fire-black.png", :alt => "black forest fires"  %>
                <h3 class="black-block"><%= t('home_main_11') %></h3>
                <p><%= t('home_main_12') %><br /><br /><br /></p>
            </div>
            <div class="columns small-12 medium-12 large-4" align="center">
                <%= image_tag "icons/wind-orange.png", :alt => "south nj dericho storms"  %>
                <h3 class="orange-block"><%= t('home_main_13') %></h3>
                <p><%= t('home_main_14') %></p>
            </div>
        </div>
    <div class="row">
        <div class="columns small-12 medium-8 large-10">
            <h3><%= t('home_main_15') %></h3>
                <hr class="medium">
        </div>
        <div class="columns small-12 medium-4 large-2" align="center">
            <%= image_tag "characters/Celebrate.png", :class => "character" ,:alt => "self-organizing volunteers"  %>
        </div>
    </div>
    <div class="row">
        <div class="columns small-12 medium-8 large-8">
            <h4 class="basic"><%= t('home_main_16') %></h4>
            <h5><%= t('home_main_17') %></h5>
            <p><%= t('home_main_18') %></p>

            <p><%= t('home_main_19') %></p>

            <p><%= t('home_main_20') %></p>

            <p><%= t('home_main_21') %></p>

        </div>
        <div class="sideblock">
            <div class="columns small-12 medium-4 large-4 black-block">
                <h4><%= t('home_bb_1') %>:</h4>
                 <iframe class="index-intro" width="" height="" src="https://www.youtube.com/embed/BJdjbtpVLOM" frameborder="0" allowfullscreen></iframe>
                <ol class="join white">
                    <li><%= t('home_bb_2') %></li>
                    <li><%= t('home_bb_3') %></li>
                    <li><%= t('home_bb_4') %></li>
                    <li><%= t('home_bb_5') %></li>
                    <li><%= t('home_bb_6') %></li>
                </ol>
                <a href="/signup" class="button expand"><%= t('home_bb_7') %></a>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="large-12 columns">
        <h3 class="center"><%= t('home_main_22') %></h3>
        <ul class="small-block-grid-3 medium-block-grid-6 large-block-grid-6">
            <li><%= image_tag "red-cross.jpg", :alt => "American Red Cross"  %></li>
            <li><%= image_tag "voad.jpg", :alt => "National Voluntary Organizations Active in Disaster"  %></li>
            <li><%= image_tag "houston.jpg", :alt => "City of Houston"  %></li>
            <li><%= image_tag "good-done-great.jpg", :alt => "Good Done Great"  %></li>            
            <li><%= image_tag "211.jpg", :alt => "Good Done Great"  %></li>
            <li><%= image_tag "iom.jpg", :alt => "international organization for migration"  %></li>
        </ul>
    </div>
</div>
<div class="hide"><%= request.host %></div>
<% end %>


<% content_for :javascripts do %>
<% end %>
