<% content_for :title do %>
    Crisis Cleanup - Home
<% end %>

<% content_for :subheader do %>
<div class="subheader">
    <h2>Open Source Disaster Relief Mapping and Work Coordination</h2>
    <h4 class="basic">• 15,000+ helped • 20 disasters • 4 countries • 300+ organizations • 40,000+ volunteers • $26m impact • Free •</h4>
    <hr class="medium">
</div>
<% end %>

<% content_for :main do %>
<div id="main">
    <div class="row orgs">
        <h2 class="center">Choose your organization</h2>
        <p class="center">Bacon ipsum dolor amet biltong boudin ribeye doner strip steak bresaola meatball.</p>
        <a href="#">
            <div class="columns small-12 medium-6 large-3 voad" align="center">
                <h3 class="basic">Relief Orgs</h3>
                <%= image_tag "icons/volunteers.png", :alt => "Volunteers Organized in Active Disaster Relief"  %>
                <p>VOADs and other relief organizations that meet the Crisis Cleanup Requirements</p>
            </div>
        </a>
        <a href="#">
            <div class="columns small-12 medium-6 large-3 gov" align="center">
                <h3 class="basic">Government</h3>
                <%= image_tag "icons/government.png", :alt => "Government agencies"  %>
                <p>Emergency Managers, Vol. Agencies Liasons, City Council Members, and Gov't Agencies</p>
            </div>
        </a>
        <a href="#">
            <div class="columns small-12 medium-6 large-3 volunteers" align="center">
                <h3 class="basic">Volunteers</h3>
                <%= image_tag "icons/volunteer.png", :alt => "Volunteers"  %>
                <p>Who are part of an relief organization, or who want to join a relief organization.</p>
            </div>
        </a>
        <a href="#">
            <div class="columns small-12 medium-6 large-3 survivors" align="center">
                <h3 class="basic">Survivors</h3>
                <%= image_tag "icons/survivors.png", :alt => "Survivors"  %>
                <p>Survivors of disaster events, family members of survivees, and the general public.</p>
            </div>     
        </a>
    </div>
    <hr>
    <!--
    <div class="row incident-map">
        <h2 class="center">Incident Map</h2>
        <p class="center">Bacon ipsum dolor amet biltong boudin ribeye doner strip steak bresaola meatball.</p>
        <div class="columns small-12 medium-12 large-9">
            <img src="http://placehold.it/960x400" alt="slide 1" />
            </div>
                <div class="sideblock black">
                    <div class="columns small-12 medium-12 large-3 timeline">
                        <h4>Incident Timeline</h4>
                        <p>Incident Name - Location - Time</p>
                        <p>Incident Name - Location - Time</p>
                        <p>Incident Name - Location - Time</p>
                        <p>Incident Name - Location - Time</p>
                        <p>Incident Name - Location - Time</p>
                        <p>Incident Name - Location - Time</p>
                        <p>Incident Name - Location - Time</p>
                    </div>
                </div>
    </div>
    <hr>
    -->
    <div class="row home-icons">
        <h2>20+ Disasters Impacted</h2>
        <p>Bacon ipsum dolor amet biltong boudin ribeye doner strip steak bresaola meatball.</p>
        <div class="columns small-12 medium-12 large-4 tornado-block" align="center">
            <h3>Tulsa Tornado</h3>
            <%= image_tag "icons/tornado-w.png", :alt => "Tulsa Tornado"  %>
            <p>Bacon ipsum dolor amet biltong boudin ribeye doner strip steak bresaola meatball.</p>
        </div> 
        <div class="columns small-12 medium-12 large-4 hurricane-block" align="center">
            <h3>Hurricane Sandy</h3>
            <%= image_tag "icons/hurricane-w.png", :alt => "Hurricane Sandy"  %>
            <p>Bacon ipsum dolor amet biltong boudin ribeye doner strip steak bresaola meatball.</p>
        </div>
        <div class="columns small-12 medium-12 large-4 flood-block" align="center">
            <h3>TX / OK Floods</h3>
            <%= image_tag "icons/flood-w.png", :alt => "Texas Oklahoma Floods"  %>
            <p>Bacon ipsum dolor amet biltong boudin ribeye doner strip steak bresaola meatball.</p>
        </div>
        <div class="columns small-12 medium-12 large-4 snow-block" align="center">
            <h3>Boston Snowstorm</h3>
            <%= image_tag "icons/snowflake-w.png", :alt => "Boston Snowstorm"  %>
            <p>Bacon ipsum dolor amet biltong boudin ribeye doner strip steak bresaola meatball.</p>
        </div> 
        <div class="columns small-12 medium-12 large-4 fire-block" align="center">
            <h3>Black Forest Fires</h3>
            <%= image_tag "icons/fire-w.png", :alt => "Black Forest Fires"  %>
            <p>Bacon ipsum dolor amet biltong boudin ribeye doner strip steak bresaola meatball.</p>
        </div>
        <div class="columns small-12 medium-12 large-4 wind-block" align="center">
            <h3>S. NJ Dericho Storms</h3>
            <%= image_tag "icons/wind-w.png", :alt => "Southern NJ Dericho Storms"  %>
            <p>Bacon ipsum dolor amet biltong boudin ribeye doner strip steak bresaola meatball.</p>
        </div>     
    </div>
    <div class="row cta">
        <div class="columns small-12 medium-8 large-8">
            <h3>Ipsem Lorem</h3>
            <p>Bacon ipsum dolor amet biltong boudin ribeye doner strip steak bresaola meatball.</p>
        </div>
        <div class="columns small-12 medium-4 large-4" align="center">
            <a href="#" class="button">Read More</a>
        </div>
    </div>
    <hr>
    <div class="row">
        <h3 class="center">How do you organize 30,000 volunteers from 100 organizations<br>to 5,000 locations across a 500-mile arc in 8 weeks?</h3>
        <h4 class="center basic">You don't. You let them organize themselves.</h4>
        <br>
        <div class="columns small-12 medium-8 large-8">
            <h5>Crisis Cleanup is a free, open source application that connects disaster recovery organizations with the people who need help.</h5>

            <p>Crisis Cleanup empowers relief organizations to instantly coordinate response efforts in real time, redirecting thousands of volunteers from to waiting lines to survivors' basements.</p>

            <p>Crisis Cleanup was developed by and for field volunteers, team leaders, canvassers, and the people who work one-on-one with people whose homes have been affected by flood, tornadoes, earthquakes, wind, fire, or other disaster. Crisis Cleanup can respond to a new disaster the same day, permitting relief organizations to instantly coordinate efforts.</p>

            <p>Crisis Cleanup implements a "Craigslist" philosophy to recovery efforts– organizations that are aware of work orders enter them into the system, and organizations with capacity to help can claim and perform the work. The system is not public, but it is open and transparent among participating organizations. No centralized organization is "in charge." This non-threatening approach minimizes duplication and maximizes communication, coordination, and efficiency.</p>

            <p>While entering a client into Crisis Cleanup does not guarantee that he or she will be served, it guarantees visibility and maximizes the chances for assistance, while helping relief organizations prioritize their limited resources.</p>

            <p>Crisis Cleanup was awarded the FedEx Innovative Program of the Year Award at the 2013 National VOAD conference.</p>
        </div>
        <div class="sideblock black">
            <div class="columns small-12 medium-4 large-4">                
                <h4>Disaster relief organizations may join as long as they:</h4> 
                 <iframe class="index-intro" width="" height="" src="https://www.youtube.com/embed/BJdjbtpVLOM" frameborder="0" allowfullscreen></iframe>
                <ol class="join white">
                    <li>Have a physical presence in a disaster area</li> 
                    <li>Perform assessments and/or gutting, mucking-out, debris removal, mold abatement, or rebuilding</li> 
                    <li>Are reputable (e.g. are a VOAD member or come recommended by a VOAD). Crisis Cleanup is free of charge.</li>
                </ul>
                <a href="#" class="button expand yellow">Sound like you? Sign up!</a>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="large-12 columns">
        <h3 class="center">Organizations Using Crisis Cleanup</h3>
        <p class="center">Bacon ipsum dolor amet biltong boudin ribeye doner strip steak bresaola meatball.</p>
        <ul class="small-block-grid-3 medium-block-grid-6 large-block-grid-6">
            <li><%= image_tag "red-cross.jpg", :alt => "American Red Cross"  %></li>
            <li><%= image_tag "voad.jpg", :alt => "National Voluntary Organizations Active in Disaster"  %></li>
            <li><%= image_tag "houston.jpg", :alt => "City of Houston"  %></li>
            <li><%= image_tag "good-done-great.jpg", :alt => "Good Done Great"  %></li>            
            <li><%= image_tag "211.jpg", :alt => "Good Done Great"  %></li>
            <li><%= image_tag "iom.jpg", :alt => "international organization for migration"  %></li>
        </ul>
    </div>
</div>
<% end %>

<% content_for :offcanvas do %>
<!-- CLOSE THE OFF-CANVAS MENU -->
        <a class="exit-off-canvas"></a>

    </div>
</div>
<!-- END OFF CANVAS -->  
<% end %>


<% content_for :javascripts do %>
<% end %>