<% content_for :title do %>
    Crisis Cleanup - Privacy
<% end %>


<% content_for :subheader do %>
<div class="subheader">
    <h2><%= t('privacy_1') %></h2>
    <h4 class="basic"><%= t('privacy_2') %><br />
                      <%= t('privacy_3') %></h4>
    <hr class="medium">
</div>
<% end %>

<% content_for :main do %>
  <style type="text/css">


ol.custom {
  list-style-type: none;
  margin-left: 0;
  counter-reset: item;
}

ol.custom > li {
  counter-increment: customlistcounter;
  display: block;
}

ol.custom:first-child, ol.custom:second-child {
  counter-reset: customlistcounter;
}

ol.custom > li:before {
  counter-increment: item;
  /*content: "#" counter(customlistcounter);*/
  font-weight: bold;
  float: left;
  width: 3em;
}

ol.one > li:before {
  content: "1." counters(item, ".") " ";
}

ol.two > li:before {
  content: "2." counters(item, ".") " ";
}

ol.three > li:before {
  content: "3." counters(item, ".") " ";
}

ol.four > li:before {
  content: "4." counters(item, ".") " ";
}

ol.five > li:before {
  content: "5." counters(item, ".") " ";
}

ol.six > li:before {
  content: "6." counters(item, ".") " ";
}

ol.seven > li:before {
  content: "7." counters(item, ".") " ";
}

ol.eight > li:before {
  content: "8." counters(item, ".") " ";
}

ol.nine > li:before {
  content: "9." counters(item, ".") " ";
}

ol.ten > li:before {
  content: "10." counters(item, ".") " ";
}

ol.eleven > li:before {
  content: "11." counters(item, ".") " ";
}

ol.twelve > li:before {
  content: "12." counters(item, ".") " ";
}

ol.thirteen > li:before {
  content: "13." counters(item, ".") " ";
}

ol.fourteen > li:before {
  content: "14." counters(item, ".") " ";
}

ol.fifteen > li:before {
  content: "15." counters(item, ".") " ";
}

</style>
<div id="main">
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
        <p><%= t('privacy_4') %></p>
        <p><%= t('privacy_5') %></p>
        <p><%= t('privacy_6') %></p>
        
        <h3><%= t('privacy_7') %> &amp; <%= t('privacy_8') %></h3>
        <p><strong><%= t('privacy_9') %></strong> <%= t('privacy_10') %></p>
        <p><%= t('privacy_11') %></p>
        <p><%= t('privacy_12') %></p>
                
        <h3><%= t('privacy_13') %></h3>
        <p><%= t('privacy_14') %></p>
        <ol class="custom two">
            <li><strong><%= t('privacy_15') %></strong>: <%= t('privacy_16') %></li>
            <li><strong><%= t('privacy_17') %></strong>: <%= t('privacy_18') %></li>
            <li><strong><%= t('privacy_19') %></strong>: <%= t('privacy_20') %> <a href="/terms"><%= t('privacy_21') %></a></li>
            <li><strong><%= t('privacy_22') %></strong>: <%= t('privacy_24') %></li>
            <li><strong><%= t('privacy_23') %></strong>: <%= t('privacy_24') %></li>
            <li><strong><%= t('privacy_25') %></strong>: <%= t('privacy_24') %></li>
            <li><strong><%= t('privacy_26') %></strong>: <%= t('privacy_24') %></li>           
        </ol>
            
        <h3><%= t('privacy_27') %></h3>
        <p><%= t('privacy_28') %></p>
    
        <h3><%= t('privacy_29') %></h3> 
        <ol class="custom four">
          <li> <%= t('privacy_30') %>
          <table>
            <thead>
              <tr>
                <th><%= t('privacy_31') %></th>
                <th><%= t('privacy_32') %></th>
                <th><%= t('privacy_33') %></th>
                <th><%= t('privacy_34') %></th>
                <th><%= t('privacy_35') %></th>
                <th><%= t('privacy_36') %></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= t('privacy_37') %></td>
                <td><%= t('privacy_38') %></td>
                <td><%= t('privacy_39') %></td>
                <td><%= t('privacy_40') %></td>
                <td><%= t('privacy_41') %></td>
                <td><%= t('privacy_42') %></td>                
              </tr>
              <tr>
                <td><%= t('privacy_43') %></td>
                <td><%= t('privacy_44') %></td>
                <td><%= t('privacy_45') %></td>
                <td><%= t('privacy_46') %></td>
                <td><%= t('privacy_47') %></td>
                <td><%= t('privacy_48') %></td>                
              </tr> 
              <tr>
                <td><%= t('privacy_49') %></td>
                <td><%= t('privacy_50') %></td>
                <td><%= t('privacy_51') %></td>
                <td><%= t('privacy_52') %></td>
                <td><%= t('privacy_53') %></td>
                <td><%= t('privacy_54') %></td>                
              </tr>
              <tr>
                <td><%= t('privacy_55') %></td>
                <td><%= t('privacy_56') %></td>
                <td><%= t('privacy_57') %></td>
                <td><%= t('privacy_58') %></td>
                <td><%= t('privacy_59') %></td>
                <td><%= t('privacy_60') %></td>                
              </tr>
              <tr>
                <td><%= t('privacy_61') %> &amp; <%= t('privacy_62') %></td>
                <td><%= t('privacy_63') %></td>
                <td><%= t('privacy_64') %></td>
                <td><%= t('privacy_65') %></td>
                <td><%= t('privacy_66') %></td>
                <td><%= t('privacy_67') %></td>                
              </tr>     
              <tr>
                <td><%= t('privacy_68') %></td>
                <td><%= t('privacy_69') %></td>
                <td><%= t('privacy_70') %></td>
                <td><%= t('privacy_71') %></td>
                <td><%= t('privacy_72') %></td>
                <td><%= t('privacy_73') %></td>                
              </tr>
              <tr>
                <td><%= t('privacy_74') %></td>
                <td><%= t('privacy_75') %></td>
                <td><%= t('privacy_76') %></td>
                <td><%= t('privacy_77') %></td>
                <td><%= t('privacy_78') %></td>
                <td><%= t('privacy_79') %></td>                
              </tr>                
            </tbody>
          </table>
          <p><%= t('privacy_80') %></p>
          <p><%= t('privacy_81') %></p>
        </li>
        <li><strong><%= t('privacy_82') %></strong>
          <p><%= t('privacy_83') %></p>
          <p><%= t('privacy_84') %></p>
        </li>
        <li><strong><%= t('privacy_85') %></strong>
          <p><%= t('privacy_86') %></p>
          <p><%= t('privacy_87') %></p>
        </li>
      </ol>
            
        <h3><%= t('privacy_88') %></h3>

        <p><%= t('privacy_89') %></p>
        <ol class="custom five">
            <li><strong><%= t('privacy_90') %></strong>: <%= t('privacy_91') %></li>
            <li><strong><%= t('privacy_92') %></strong>: <%= t('privacy_93') %></li>
            <li><strong><%= t('privacy_94') %></strong>: <%= t('privacy_95') %></li>
            <li><strong><%= t('privacy_96') %></strong>: <%= t('privacy_97') %></li>
        </ol>
            
        <h3><% t('privacy_98') %></h3>
        <p><%= t('privacy_99') %></p>

        <h3><%= t('privacy_100') %></h3>
        <ol class="custom seven">
            <li><strong><%= t('privacy_101') %> </strong>: <%= t('privacy_102') %></li>
            <li><strong><%= t('privacy_103') %></strong>: <%= t('privacy_104') %></li>   
        </ol>
        </div>
    </div>
</div>
<% end %>


<% content_for :javascripts do %>
<% end %>