<% content_for :title do %>
    Crisis Cleanup - Request a New Incident
<% end %>

<% content_for :subheader do %> 
<div class="row subheader">
        <div class="small-12 medium-8 large-10 columns">
            <h2><%= t('redeploy_1') %><h2>                
                <hr class="medium"> 
        </div>                
        <div class="small-12 medium-4 large-2 columns" align="center">
            <%= image_tag "characters/Workers Shovel Hammer-Team1.png", :class => "character" ,:alt => "worker dashboard"  %>
        </div>    
</div>    
<% end %>
            
<% content_for :main do %>
<p><%= t('redeploy_2') %> <a href="<%= new_user_session_path %>"><%= t('redeploy_3') %></a>, <%= t('redeploy_4') %></p> 
<br><br>
<%end%>