<% content_for :title do %>
    Crisis Cleanup - Signup
<% end %>

<% content_for :subheader do %> 
<div class="row subheader">
        <div class="small-12 medium-8 large-10 columns">
            <h2><%= t('register_1') %></h2>
                <h4 class="basic"><%= t('register_2') %></h4>
                <p><%= t('register_3') %></p>
                <hr class="medium"/>
        </div>                
        <div class="small-12 medium-4 large-2 columns" align="center">
            <%= image_tag "characters/Checkmark.png", :class => "character" ,:alt => "worker dashboard"  %>
        </div>    
</div>    
<% end %>
            
<!--<% content_for :main do %>
<div id="main">
    <div class="row">
            <div class="columns small-12 medium-12 large-4" align="center">
                <%= image_tag "characters/Team3-211.png", :class => "character" ,:alt => "worker dashboard"  %>
                <h3 ><%= t('register_4') %></h3>
                <p><%= t('register_5') %></p>
                <a href="<%= register_path %>" class="button"><%= t('register_6') %></a>
            </div> 
            <div class="columns small-12 medium-12 large-4" align="center">
                <%= image_tag "characters/Workers Shovel Hammer-Team1.png", :class => "character" ,:alt => "worker dashboard"  %>
                <h3><%= t('register_7') %></h3>
                <p><%= t('register_8') %></p>
                <a href="<%= redeploy_path %>" class="button"><%= t('register_9') %></a>
            </div>
            <div class="columns small-12 medium-12 large-4" align="center">
                <%= image_tag "characters/Two Soccer Players Running Toward One Another-Right.png", :class => "character" ,:alt => "worker dashboard"  %>
                <h3><%= t('register_10') %></h3>
                <p><%= t('register_11') %></p>
                <a href="<%= about_path %>" class="button"><%= t('register_12') %></a>
            </div>     
        </div>
</div>
<% end %>-->


<% content_for :javascripts do %>
<% end %>
