<% content_for :title do %>
    Crisis Cleanup - Survivor
<% end %>

<% content_for :subheader do %>
<div class="row subheader">
    <div class="small-12 medium-8 large-10 columns">
        <h2>Survivors</h2>
        <h4 class="basic"><%= t('surivor_1') %></h4>
        <hr class="medium">
    </div>
    <div class="small-12 medium-4 large-2 columns" align="center">
        <%= image_tag "characters/Houses Broken5.png", :class => "character" ,:alt => "Survivors"  %>
    </div>
</div>
<% end %>

<% content_for :main do %>
<div id="main" class="alt">
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
        <h3><%= t('surivor_2') %></h3>
        <p><%= t('surivor_3') %> <strong><%= t('surivor_4') %></strong>.</p>
        <h5><%= t('surivor_5') %></h5>
        <p><%= t('surivor_6') %> <strong><%= t('surivor_7') %></strong></p>
        <h5><%= t('surivor_8') %></h5>
        <p><%= t('surivor_9') %> <a href="/public_map"><%= t('surivor_10') %></a> <%= t('surivor_11') %></p>
        <h5><%= t('surivor_12') %></h5>
        <p><%= t('surivor_13') %> </p>
        <h5><%= t('surivor_14') %> </h5>
        <p><strong><%= t('surivor_15') %></strong>: <%= t('surivor_16') %></p>
        <p><strong><%= t('surivor_17') %></strong>: <%= t('surivor_18') %></p>
        <p><strong><%= t('surivor_19') %></strong>: <%= t('surivor_20') %></p>
    </div>
</div>
</div>    
<% end %>

<% content_for :sidebar do %>
<div id="sidebar">
    <h4><%= t('surivor_21') %></h4>
    <p><%= t('surivor_22') %>:
        <ul>
            <li><a href="https://www.fema.gov/individual-disaster-assistance"><%= t('surivor_23') %></a></li>
            <li><a href="https://www.disasterassistance.gov/"><%= t('surivor_24') %></a></li>
            <li><a href="http://blog.crisiscleanup.org/2015/06/be-patient-be-persistent-and-never-give.html"><%= t('surivor_25') %></a></li>
            <li><a href="http://aircharitynetwork.org/home/request-a-flight/"><%= t('surivor_26') %></a></li>
        </ul>
    </p>
</div>
<% end %>
