<% content_for :title do %>
    Crisis Cleanup - Terms
<% end %>


<% content_for :subheader do %>
  <style type="text/css">


ol.custom {
  list-style-type: none;
  margin-left: 0;
  counter-reset: item;
}

ol.custom > li {
  counter-increment: customlistcounter;
  display: block;
}

ol.custom:first-child, ol.custom:second-child {
  counter-reset: customlistcounter;
}

ol.custom > li:before {
  counter-increment: item;
  /*content: "#" counter(customlistcounter);*/
  font-weight: bold;
  float: left;
  width: 3em;
}

ol.one > li:before {
  content: "1." counters(item, ".") " ";
}

ol.two > li:before {
  content: "2." counters(item, ".") " ";
}

ol.three > li:before {
  content: "3." counters(item, ".") " ";
}

ol.four > li:before {
  content: "4." counters(item, ".") " ";
}

ol.five > li:before {
  content: "5." counters(item, ".") " ";
}

ol.six > li:before {
  content: "6." counters(item, ".") " ";
}

ol.seven > li:before {
  content: "7." counters(item, ".") " ";
}

ol.eight > li:before {
  content: "8." counters(item, ".") " ";
}

ol.nine > li:before {
  content: "9." counters(item, ".") " ";
}

ol.ten > li:before {
  content: "10." counters(item, ".") " ";
}

ol.eleven > li:before {
  content: "11." counters(item, ".") " ";
}

ol.twelve > li:before {
  content: "12." counters(item, ".") " ";
}

ol.thirteen > li:before {
  content: "13." counters(item, ".") " ";
}

ol.fourteen > li:before {
  content: "14." counters(item, ".") " ";
}

ol.fifteen > li:before {
  content: "15." counters(item, ".") " ";
}

</style>

<div class="subheader">
    <h2><%= t('terms_1') %></h2>
    <h4 class="basic"><%= t('terms_2') %><br> 
                      <%= t('terms_3') %></h4>
    <hr class="medium">
</div>
<% end %>

<% content_for :main do %>
<div id="main">
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
        <h3><%= t('terms_4') %></h3>
        <p><%= t('terms_5') %></p>

        <h3><%= t('terms_6') %></h3>
        <p><%= t('terms_7') %> </p>
            <ul>
                <li><%= t('terms_8') %></li>
                <li><%= t('terms_9') %> <em><%= t('terms_10') %></em>, <%= t('terms_11') %> <em><%= t('terms_12') %></em>, <%= t('terms_13') %></li>
                <li><%= t('terms_14') %></li>
                <li><%= t('terms_15') %></li>
                <li><%= t('terms_16') %></li>
                <li><%= t('terms_17') %></li>
                <li><%= t('terms_18') %></li>
                <li><%= t('terms_19') %></li>
                <li><%= t('terms_20') %></li>
                <li><%= t('terms_21') %></li>
                <li><%= t('terms_22') %></li>
                <li><%= t('terms_23') %></li>
                <li><%= t('terms_24') %></li>
                <li><%= t('terms_25') %></li>
                <li><%= t('terms_26') %></li>
                <li><%= t('terms_27') %></li>
            </ul>    
        
        <h3><%= t('terms_28') %></h3>
        <p><%= t('terms_29') %></p>
            <ol class="custom three">
                <li><strong><%= t('terms_30') %></strong><%= t('terms_31') %></li>
                <li><strong><%= t('terms_32') %></strong> <%= t('terms_33') %> <a href="http://www.crisiscleanup.org">CrisisCleanup.org</a><%= t('terms_34') %></li>
                <li><strong><%= t('terms_35') %></strong> <%= t('terms_36') %></li>
                <li><strong><%= t('terms_37') %></strong> <%= t('terms_38') %></li>
                <li><strong><%= t('terms_39') %></strong> <%= t('terms_40') %></li>
                <li><strong><%= t('terms_41') %></strong> <%= t('terms_42') %></li>
                <li><strong><%= t('terms_43') %></strong> <%= t('terms_44') %></li>
                <li><strong><%= t('terms_45') %></strong> <%= t('terms_46') %></li>
                <li><strong><%= t('terms_47') %></strong> <%= t('terms_48') %></li>
                <ul>
                    <li class="indent"><strong>3.9.1</strong> <%= t('terms_49') %> "CrisisCleanup.org."</li>
                    <li class="indent"><strong>3.9.2</strong> <%= t('terms_50') %></li>
                    <li class="indent"><strong>3.9.3</strong> <%= t('terms_51') %></li>
                    <li class="indent"><strong>3.9.4</strong> <%= t('terms_52') %></li>
                </ul>
            </ol>
            
        <h3>4. Your Acceptance</h3>
            <ol class="custom four">
                <li><%= t('terms_53') %></li>
                <ul>
                    <li class="indent"><strong>4.1.1</strong> <%= t('terms_54') %></li>
                    <li class="indent"><strong>4.1.2</strong> <%= t('terms_55') %> <a href="http://www.CrisisCleanup.org/privacy">http://www.CrisisCleanup.org/privacy</a><%= t('terms_56') %></li>
                    <li class="indent"><strong>4.1.3</strong> <%= t('terms_57') %> <a href="https://crisiscleanup.zendesk.com/hc/en-us/sections/200166636-Policies"><%= t('terms_58') %></a><%= t('terms_59') %></li>
                    <li><strong>4.1.4 <%= t('terms_60') %>.</strong> <%= t('terms_61') %></li>
                </ul>
            </ol> 
            
    <h3>5. <%= t('terms_62') %></h3>
        <ol class="custom five">
            <li><strong><%= t('terms_63') %></strong> <%= t('terms_64') %></li>
            <li><strong><%= t('terms_65') %></strong> <%= t('terms_66') %></li>
        </ol>    
            
    <h3>6. <%= t('terms_67') %></h3>
        <ol class="custom six">
            <li><strong><%= t('terms_68') %></strong> <%= t('terms_69') %></li>
        </ol>
            
    <h3>7. <%= t('terms_70') %></h3>
        <ol class="custom seven">
            <li><strong><%= t('terms_71') %></strong> <%= t('terms_72') %></li>
            <li><strong><%= t('terms_73') %></strong> <%= t('terms_74') %></li>
            <li><strong><%= t('terms_75') %></strong> <%= t('terms_76') %></li>
            <ul>
                <li class="indent"><strong>7.3.1</strong> <%= t('terms_77') %></li>
                <li class="indent"><strong>7.3.2</strong> <%= t('terms_78') %></li>
                <li class="indent"><strong>7.3.3</strong> <%= t('terms_79') %></li>
                <li class="indent"><strong>7.3.4</strong> <%= t('terms_80') %></li>
                <li class="indent"><strong>7.3.5</strong> <%= t('terms_81') %></li>
                <li class="indent"><strong>7.3.6</strong> <%= t('terms_82') %></li>
                <li class="indent"><strong>7.3.7</strong> <%= t('terms_83') %></li>
            </ul>
            <li><strong><%= t('terms_84') %></strong> <%= t('terms_85') %></li>
            <li><%= t('terms_86') %> <a href="https://github.com/CrisisCleanup/crisiscleanup"><%= t('terms_87') %></a><%= t('terms_87') %> <a href="http://www.apache.org/licenses/LICENSE-2.0.html"><%= t('terms_88') %></a>.</li>
        </ol>      
            
    <h3>8. <%= t('terms_89') %></h3>
        <ol classs="custom eight">
            <li><%= t('terms_90') %></li>
            <li><%= t('terms_91') %></li>
        </ol>  
            
    <h3>9. <%= t('terms_92') %></h3>
        <ol class="custom nine">
            <li><strong><%= t('terms_93') %></strong> <%= t('terms_94') %></li>
            <li><strong><%= t('terms_95') %></strong> <%= t('terms_96') %></li>
        </ol>          
            
    <h3>10. <%= t('terms_97') %></h3>
        <ol class="custom ten">
            <li><%= t('terms_98') %></li>
            <li><%= t('terms_99') %></li>
            <li><%= t('terms_100') %></li>
        </ol>    
            
    <h3>11. <%= t('terms_101') %></h3>
        <ol class="custom eleven">
            <li><strong><%= t('terms_102') %></strong> <%= t('terms_103') %></li>
            <li><strong><%= t('terms_104') %></strong> <%= t('terms_105') %></li>
        </ol>

    <h3>12. Miscellaneous Provisions</h3>            
        <ol class="custom twelve">
            <li><strong>Severability.</strong> If any term or condition set forth in this agreement is found by a court to be unenforceable, then the remaining terms and conditions will remain in full force and effect. Terms and conditions found to be unenforceable, if any, will be modified by the court to conform to a provision that most closely expresses the intent of the unenforceable term or condition.</li>
            <li><strong>Nature of Relationship.</strong> Nothing contained herein shall be deemed to create any association, Company, joint venture or similar relationship between you and the Company. Neither party shall have the authority to make financial commitments on behalf of the other party, nor shall either party have the authority to incur any financial obligations in the other party’s name without the express written approval of the other party or as expressly stated herein. Neither party nor any employee or subcontractor employed by either party shall act, appear to act, or be deemed for any purpose whatsoever to be an agent, employee, servant or representative of the other party.</li>
            <li><strong>Third Party Beneficiaries.</strong> There are no third party beneficiaries to this Agreement.</li>
            <li><strong>Force Majeure.</strong> Neither party shall be liable for any default or delay in the performance of its obligations herein if and to the extent such default or delay is caused by causes beyond that party's reasonable control and occurring without its fault or negligence, including, without limitation: fire, flood, earthquake, elements of nature or acts of god; riots, civil disorders, rebellions or revolutions in any country; or any other similar cause. In such event the non-performing party shall be excused from further performance or observance of the obligation.</li>
            <li><strong>Waiver of Rights.</strong> No failure of either party to exercise or enforce any of its rights hereunder will constitute a waiver of that or any other provision. No waiver granted under this Agreement as to any one provision herein shall constitute a subsequent waiver of such provision or of any other provision herein.</li>
            <li><strong>Headings.</strong> The headings and titles used in this Agreement are for reference and convenience only and shall not enter into the interpretation hereof.</li>
            <li><strong>Assignment.</strong> Neither this Agreement nor any of your rights or obligations may be assigned by you without the prior written approval of the Company.</li>
            <li><strong>Address.</strong> The address of the Company is:<br />
                Crisis Cleanup, LLC<br />
                Attn: Aaron Titus or Bert Tobia<br />
                271 Route 46 West, Suite B101<br />
                Fairfield, NJ 07004
            <li><strong>Entire Agreement.</strong> This agreement sets forth the entire agreement between you and the Company regarding the subject of the Agreement, and may be amended only in writing signed by both parties. This Agreement supersedes all prior or contemporaneous communications, understandings, promises and proposals, whether oral, written or electronic, between the parties with respect to its subject matter.</li>
            <li><strong>Date.</strong> This agreement was last updated on September 12, 2016. <em>(Added guidance on using inter-organization contact information).</em> </li>
        </ul>            
        </div>
    </div>
</div>
<% end %>


<% content_for :javascripts do %>
<% end %>