<% content_for :title do %>
    Crisis Cleanup - Volunteer
<% end %>

<% content_for :subheader do %>
<div class="row subheader">
    <div class="small-12 medium-8 large-10 columns">
        <h2><%= t('vol_1') %> </h2>
        <h4 class="basic"><%= t('vol_2') %></h4>
        <hr class="medium">
    </div>
    <div class="small-12 medium-4 large-2 columns" align="center">
        <%= image_tag "characters/Workers Boards Wheelbarrow.png", :class => "character" ,:alt => "Volunteers Power Crisis Cleanup"  %>
    </div>
</div>
<% end %>

<% content_for :main do %>
<div id="main" class="alt">
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <h3><%= t('vol_3') %></h3>
            <p><%= t('vol_4') %></p>
            <h3><%= t('vol_5') %></h3>
            <p><strong><%= t('vol_6') %></strong> <%= t('vol_7') %></p>
            <p><strong><%= t('vol_8') %></strong> <%= t('vol_9') %> <strong><%= t('vol_10') %></strong> <em><%= t('vol_11') %></em><%= t('vol_12') %> <em><%= t('vol_13') %></em> <%= t('vol_14') %></p>
            <p><%= t('vol_15') %></p>
            <h4><%= t('vol_16') %></h4>
            <p><%= t('vol_17') %> <a href="/training"><%= t('vol_18') %></a>.</p>
            <p><%= t('vol_19') %> <u><%= t('vol_20') %></u> <%= t('vol_21') %>
                <ol>
                    <li><strong><%= t('vol_22') %></strong><br /> <%= image_tag "screenshots/invite_users_email.png", :alt => "Invite Users via Email", :width => "400"  %>
                        <ul>
                            <li><%= t('vol_23') %> <strong><%= t('vol_24') %></strong> <%= t('vol_25') %></li>
                            <li><%= t('vol_26') %></li>
                            <li><%= t('vol_27') %></li>
                        </ul>
                    </li>
                    <li><strong><%= t('vol_28') %></strong><br /> <%= image_tag "screenshots/invite_users_temp_password.png", :alt => "Invite Users using a Temporary Password", :width => "400"  %>
                        <ul>
                            <li><%= t('vol_29') %></li>
                            <li><%= t('vol_30') %> <strong><%= t('vol_31') %></strong> <%= t('vol_32') %></li>
                            <li><%= t('vol_33') %></li>
                            <li><a href="/login"><%= t('vol_34') %></a><%= t('vol_35') %><a href="/worker/temporary_passwords/new"><%= t('vol_36') %></a><%= t('vol_37') %></li>
                        </ul>
                    </li>
                    <!--<li><a href="" class="button">Request an Invitation!</a></li>-->
                </ol>
            </p>
            <h4><%= t('vol_38') %></h4>
            <h5><%= t('vol_39') %></h5>
            <p><%= t('vol_40') %></p>
            <h5><%= t('vol_41') %></h5>
            <p><%= t('vol_42') %></p> 
            <h5><%= t('vol_43') %></h5>
            <p><%= t('vol_44') %> <a href="http://blog.crisiscleanup.org/2015/06/be-patient-be-persistent-and-never-give.html"><%= t('vol_45') %></a></p>
        </div>
    </div>
</div>
<% end %>

<% content_for :sidebar do %>
<div id="sidebar">
    <h4><%= t('vol_46') %></h4>
    <!--<a href="" class="button">Request an Invitation!</a>-->
    <p><%= t('vol_47') %>
        <ul>
            <li><a href="http://blog.crisiscleanup.org/2015/08/the-root-of-volunteering-trust-and.html"><%= t('vol_48') %></a>.</li>
            <li><a href="http://blog.crisiscleanup.org/2015/06/be-patient-be-persistent-and-never-give.html"><%= t('vol_49') %></a></li>
            <li><%= t('vol_50') %> <a href="http://h2prep.me/ccu"><em><%= t('vol_51') %></em></a>.</li>
        </ul>
    </p>
</div>
<% end %>
