<!-- example admin dashboard nav -->
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="<%=admin_dashboard_index_path%>">Admin Dashboard</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="has-dropdown">
        <a href="#">Legacy Models</a>
        <ul class="dropdown">
          <li class='legacy_events'>
            <a href=<%=admin_legacy_events_path%>>Legacy Events</a>
          </li>
          <li class='legacy_sites'>
            <a href=<%=admin_legacy_sites_path%>>Legacy Sites</a>
          </li>
          <li class='legacy_organizations'>
            <a href=<%=admin_legacy_organizations_path%>>Legacy Organizations</a>
          </li>
          <li class='legacy_contacts'>
            <a href=<%=admin_legacy_contacts_path%>>Legacy Contacts</a>
          </li>
        </ul>
      </li>
      <li class="has-dropdown">
        <a href="#">Public Pages</a>
        <ul class="dropdown">
          <li class='home'>
            <a href=<%=root_path%>>Home Page</a>
          </li>
          <li class='about'>
            <a href=<%=about_path%>>About</a>
          </li>
          <li class='legacy_organizations'>
            <a href=<%=privacy_path%>>Privacy</a>
          </li>
          <li class='legacy_contacts'>
            <a href=<%=terms_path%>>Terms</a>
          </li>
        </ul>
      </li>
      <li class="has-dropdown">
        <a href="#">Incident Pages</a>
        <ul class="dropdown">
          <li class="has-dropdown"> 
            <a href="#">Forms</a>
            <ul class="dropdown">
              <% Legacy::LegacyEvent.all.each do |event| %>
                <li class='incident_form'>
                  <a href=<%=incident_legacy_form_path(event.id)%>> <%= event.name %></a>
                </li>
              <% end %>
            </ul>
          </li>

          <li class="has-dropdown"> 
            <a href="#">Maps</a>
            <ul class="dropdown">
              <% Legacy::LegacyEvent.all.each do |event| %>
                <li class='incident_map'>
                  <a href=<%=incident_legacy_map_path(event.id)%>> <%= event.name %></a>
                </li>
              <% end %>
            </ul>
          </li>

          <li class="has-dropdown"> 
            <a href="#">Sites</a>
            <ul class="dropdown">
              <% Legacy::LegacyEvent.all.each do |event| %>
                <li class='incident_sites'>
                  <a href=<%=incident_legacy_sites_index_path(event.id)%>> <%= event.name %></a>
                </li>
              <% end %>
            </ul>
          </li>

          <li class="has-dropdown"> 
            <a href="#">Organizations</a>
            <ul class="dropdown">
              <% Legacy::LegacyEvent.all.each do |event| %>
                <li class='incident_sites'>
                  <a href=<%=incident_legacy_organizations_path(event.id)%>> <%= event.name %></a>
                </li>
              <% end %>
            </ul>
          </li>

          <li class="has-dropdown"> 
            <a href="#">Contacts</a>
            <ul class="dropdown">
              <% Legacy::LegacyEvent.all.each do |event| %>
                <li class='incident_sites'>
                  <a href=<%=incident_legacy_contacts_path(event.id)%>> <%= event.name %></a>
                </li>
              <% end %>
            </ul>
          </li>


        </ul>
        
      </li>
      <li class="users">
        <a href=<%=admin_users_path%>>Users</a>
      </li>
      <li class="stats">
        <a href=<%=admin_stats_path%>>Stats</a>
      </li>
      <li class="import">
        <a href=<%=admin_csv_import_form_path%>>Import</a>
      </li>
      <% if current_user %>
          <li class="right"><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
      <% else %>
          <li class="right"><%= link_to "Login", new_user_session_path %></li> 
      <% end %>
    </ul>
  </section>
</nav>