<!-- alert messages + incident selection -->
<!-- reference foundation docs online for different types of alerts -->

<div class="alert_menu">
    <div class="row">
        <div class="small-12 medium-4 large-4 columns alert_container">
            <div data-alert class="alert-box radius" id="welcome-alert">
                <!--<a href="https://crisiscleanup.zendesk.com/hc/en-us/requests/new" class="subtext" target="_BLANK">Report <i class="fa fa-bug"></i></a> Public: 800-451-1954, Extended to Nov. 9. Flyers &amp; Info: <a href="http://bit.ly/2p6dxcs">Download</a>. -->Like Crisis Cleanup? <a href="http://bit.ly/CCUFeedback" class="subtext" target="_BLANK">Feedback</a> <!--Check out <a href="http://h2prep.me/ccu" class="subtext" target="_BLANK"><em>H2Prep</em>!</a><u>Always claim if you change the status.</u>-->
                <a href="#" class="close">&times;</a>
            </div>
        </div>
        <div class="small-12 medium-4 large-4 columns alert_container" id="alert-container">
          <% if notice %>
            <div data-alert class="alert-box success radius">
                <span class="notice"><%= notice %></span>
                <a href="#" class="close">&times;</a>
            </div>
          <% end %>
          <% if alert %>
            <div data-alert class="alert-box alert radius">
                <span class="alert"><%= alert %></span>
                <a href="#" class="close">&times;</a>
            </div>
          <% end %>
        </div>
        <div class="small-12 medium-4 large-4 columns alert_container">
        <!-- show only for verified users -->
        <% if current_user and current_user.admin == false %>
              <label>
                <select id="incident-chooser">
                  <% current_user.legacy_organization.legacy_events.each do |event| %>
                  <option value="<%= event.id %>" <% if event.id.to_s == session[:current_user_event].to_s %> selected <% end %>><%= event.name %></option>
                  <% end %>
                </select>
              </label>
        <% elsif current_user and current_user.admin %>
          <label>
            <select id="incident-chooser" autocomplete="off">
              <% Legacy::LegacyEvent.all.order(:id).each do |event| %>

              <option value="<%= event.id %>" <% if event.id.to_s == session[:current_user_event].to_s %> selected <% end %>><%= event.name %></option>
              <% end %>
            </select>
          </label>
        <% end %>
        </div>
        <!-- end show only for verified users -->
    </div>
</div>
