<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <a href="/"><%= image_tag "ccu-logo-white.png", :width => 71, :height => 40,  :alt => "Crisis Cleanup Home"  %></a>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <!-- right side navigation -->
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><%= nav_link t('nav_1'), home_path %></li>
      <li><%= nav_link t('nav_2'), about_path %></li>
      <% if current_user %>
        <li><%= nav_link t('nav_3'), worker_incident_legacy_map_path(current_user_event) %></li>
        <li><%= link_to worker_incident_legacy_form_path(current_user_event) do %>
          <%= t('nav_4') %><i class="fa fa-plus"></i>
          <% end %>
        </li>
      <% else %>
        <li><%= nav_link t('nav_3'), public_map_path %></li>
      <% end %>
      <li><a href="http://blog.crisiscleanup.org/"><%= t('nav_5') %></a></li>
      <li class="has-dropdown"><a href="#"><%= t('nav_6') %></a>
        <ul class="dropdown">
          <li class="has-dropdown"><a href="https://crisiscleanup.zendesk.com/hc/en-us/sections/200166636-Policies" target="_blank">Policies</a>
            <ul class="dropdown">
              <li class='claiming_policy'><a href="https://crisiscleanup.zendesk.com/hc/en-us/articles/227036588-Work-Order-Case-Claiming-Policy" target="_blank">Work Order Claiming Policy</a></li>
              <li class='client_data_policy'><a href="https://crisiscleanup.zendesk.com/hc/en-us/articles/200819327-Client-Personal-Data-Collection-Policy" target="_blank">Client Data Policy</a></li>
              <li class='participation_requirements'><a href="https://crisiscleanup.zendesk.com/hc/en-us/articles/200603007-Requirements-for-Participation" target="_blank">Participation Requirements</a></li>
              <li class='good_fit'><a href="https://crisiscleanup.zendesk.com/hc/en-us/articles/200596493-Is-Crisis-Cleanup-a-Good-Fit-" target="_blank">Is Crisis Cleanup a Good Fit?</a></li>
            </ul>
          </li>
          <li class="training"><a href="https://www.crisiscleanup.org/training" target="_blank">Mandatory Training Video</a></li>
          <li class="stats"><a href="https://crisiscleanup.zendesk.com/hc/en-us" target="_blank">Search Helpdesk</a></li>
          <li class="h2prep"><a href="http://h2prep.me/ccu" target="_blank">How to Prepare for Everything</a></li>
          <li class="patreon"><a href="http://bit.ly/CCUPatreon" target="_blank">Support Crisis Cleanup</a></li>
          <% if current_user %>
          <li class="trouble_ticket"><a href="https://crisiscleanup.zendesk.com/hc/en-us/requests/new" target="_blank">Submit Trouble Ticket</a></li>
          <% end %>
        </ul>
      </li>
      <% unless current_user %>
      <li><%= nav_link t('nav_7'), signup_path %></li> <!-- hide for verified user / admin -->
      <% end %>
      <% if current_user %> <!-- user verified only -->
        <li class="has-dropdown"><%= link_to t('nav_8'), worker_dashboard_path %>
          <ul class="dropdown">
            <li><%= link_to t('nav_8_1'), worker_incident_mysites_path(current_user_event) %></li>
            <li><%= link_to 'Redeploy/Join Incident', redeploy_form_path %></li>
            <li><%= link_to t('nav_8_2'), worker_my_organization_path %></li>
            <li><%= link_to t('nav_8_3'), worker_incident_legacy_contacts_path(current_user_event) %></li>
            <li><%= link_to t('nav_8_4'), worker_incident_legacy_organizations_path(current_user_event) %></li>
            <li><%= link_to worker_incident_legacy_sites_index_path(current_user_event) do %>
                    <%= t('nav_8_5') %>
                    <% end %>
            </li>
            <li><%= link_to worker_incident_graphs_path(current_user_event) do %>
                  <%= t('nav_8_6') %>
                    <% end %>
            </li>
            <li><%= link_to t('nav_8_7'), worker_incident_stats_path(current_user_event) %></li>
          </ul>
        </li>
        <% if current_user.admin %> <!-- admin verified only -->
          <li class="has-dropdown"><%= link_to t('nav_9'), admin_path%>
            <ul class="dropdown">
              <li class="users"><%= link_to "Users", admin_users_path %></li>
              <li class="stats"><%= link_to "Stats", admin_stats_path %></li>
              <li class="import"><%= link_to "Import", admin_csv_import_form_path %></li>
              <li class="export"><%= link_to "Export", admin_export_path %></li>
              <li class="has-dropdown"><a href="#">Legacy Models</a>
                <ul class="dropdown">
                  <li class='legacy_events'><%= link_to "Legacy Events", admin_legacy_events_path %></li>
                  <li class='legacy_sites'><%= link_to "Legacy Sites", admin_legacy_sites_path %></li>
                  <li class='legacy_organizations'><%= link_to "Legacy Organizations", admin_legacy_organizations_path %></li>
                  <li class='legacy_contacts'><%= link_to "Legacy Contacts", admin_legacy_contacts_path %></li>
                </ul>
              </li>
            </ul>
          </li> 
        <% end %> <!-- end admin verified only -->
        <li class="has-dropdown"><%= link_to worker_dashboard_path do %>
            <i class="fa fa-user"></i> <%= current_user.name %>
            <% end %>
            <ul class="dropdown">
                <% if current_user.admin %>
                  <li><%= link_to admin_path do %>
                      <i class="fa fa-home"></i> Admin
                      <% end %>
                  </li>
                <% else %>
                  <li><%= link_to worker_incident_legacy_organizations_path(current_user_event) do %>
                      <i class="fa fa-home"></i> <%=current_user.legacy_organization.name %>
                      <% end %>
                  </li>
                <% end %>
                <li><%= link_to destroy_user_session_path, :method => :delete do %>
                    <i class="fa fa-sign-out"></i> <%= t('nav_10') %>
                    <% end %>
                </li>
            </ul>
        </li>          
        <% else %>
            <li><%= nav_link t('nav_11'), new_user_session_path %></li>
        <% end %> <!-- end user verified only -->
    </ul>
  </section>
</nav>
