<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <a href="/"><%= image_tag "ccu-logo-white.png", :width => 71, :height => 40,  :alt => "Crisis Cleanup Home"  %></a>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <!-- right side navigation -->
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><%= nav_link "Home", root_path %></li>
      <li><%= nav_link "About", about_path %></li>    
      <% if current_user %>
        <li><%= nav_link "Map", worker_incident_legacy_map_path(current_user_event) %></li>
        <li><%= link_to worker_incident_legacy_form_path(current_user_event) do %>
          New <i class="fa fa-plus"></i>
          <% end %>
        </li>
      <% else %>
        <li><%= nav_link "Map", public_map_path %></li>
      <% end %>
      <li><a href="http://blog.<%= Crisiscleanup::Application.config.URL
%>/">Blog</a></li>
      <% unless current_user %>
      <li><%= nav_link "Sign Up", signup_path %></li> <!-- hide for verified user / admin -->
      <% end %>
      <% if current_user %> <!-- user verified only -->
        <li class="has-dropdown"><%= link_to "Dashboard", worker_dashboard_path %>
          <ul class="dropdown">
            <li><%= link_to "Contacts", worker_incident_legacy_contacts_path(current_user_event) %></li>
            <li><%= link_to "Orgs", worker_incident_legacy_organizations_path(current_user_event) %></li>
            <li><%= link_to worker_incident_legacy_sites_index_path(current_user_event) do %>
                    Browse
                    <% end %>
            </li>
            <li><%= link_to "Stats", worker_incident_stats_path(current_user_event) %></li>
          </ul>
        </li>
        <% if current_user.admin %> <!-- admin verified only -->
          <li class="has-dropdown"><%= link_to "Admin", admin_path%>
            <ul class="dropdown">
              <li class="users"><%= link_to "Users", admin_users_path %></li>
              <li class="stats"><%= link_to "Stats", admin_stats_path %></li>
              <li class="import"><%= link_to "Import", admin_csv_import_form_path %></li>
              <li class="has-dropdown"><a href="#">Legacy Models</a>
                <ul class="dropdown">
                  <li class='legacy_events'><%= link_to "Legacy Events", admin_legacy_events_path %></li>
                  <li class='legacy_sites'><%= link_to "Legacy Sites", admin_legacy_sites_path %></li>
                  <li class='legacy_organizations'><%= link_to "Legacy Organizations", admin_legacy_organizations_path %></li>
                  <li class='legacy_contacts'><%= link_to "Legacy Contacts", admin_legacy_contacts_path %></li>
                </ul>
              </li>
            </ul>
          </li> 
        <% end %> <!-- end admin verified only -->
        <li class="has-dropdown"><%= link_to worker_dashboard_path do %>
            <i class="fa fa-user"></i> <%= current_user.name %>
            <% end %>
            <ul class="dropdown">
                <% if current_user.admin %>
                  <li><%= link_to admin_path do %>
                      <i class="fa fa-home"></i> Admin
                      <% end %>
                  </li>
                <% else %>
                  <li><%= link_to worker_incident_legacy_organizations_path(current_user_event) do %>
                      <i class="fa fa-home"></i> <%=current_user.legacy_organization.name %>
                      <% end %>
                  </li>
                <% end %>
                <li><%= link_to destroy_user_session_path, :method => :delete do %>
                    <i class="fa fa-sign-out"></i> Logout
                    <% end %>
                </li>
            </ul>
        </li>          
        <% else %>
            <li><%= nav_link "Login", new_user_session_path %></li>
        <% end %> <!-- end user verified only -->
    </ul>
  </section>
</nav>
