 <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <a href="/"><%= image_tag "ccu-logo-balloons.png", :alt => "Crisis Cleanup Home"  %></a>
            </li>            
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <!-- right side navigation -->
        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
                <li class="active"><%= link_to "Home", root_path %></li>
                <li><%= link_to "Map", incident_legacy_map_path(current_user_event) %></li>                
                <li><%= link_to "Form", incident_legacy_form_path(current_user_event) %></li>

               <% if current_user %> <!-- user verified only -->
                <li class="has-dropdown"><%= link_to "Dashboard", worker_dashboard_path %>
                    <ul class="dropdown">
                        <li><%= link_to "Contacts", root_path %></li>
                        <li><%= link_to "Orgs", root_path %></li>
                        <li><%= link_to "Sites", root_path %></li>
                        <li><%= link_to "Stats", root_path %></li>
                    </ul>
                </li> <!-- end user verified only -->   
        <% if current_user.admin %> <!-- admin verified only -->
          <li class="has-dropdown"><%= link_to "Admin", admin_path%>
            <ul class="dropdown">
                <li class="users"><a href=<%=admin_users_path%>>Users</a></li>
                <li class="stats"><a href=<%=admin_stats_path%>>Stats</a></li>
                <li class="import"><a href=<%=admin_csv_import_form_path%>>Import</a></li>
                <li class="has-dropdown"><a href="#">Legacy Models</a>
                    <ul class="dropdown">
                      <li class='legacy_events'><a href=<%=admin_legacy_events_path%>>Legacy Events</a></li>
                      <li class='legacy_sites'><a href=<%=admin_legacy_sites_path%>>Legacy Sites</a></li>
                      <li class='legacy_organizations'><a href=<%=admin_legacy_organizations_path%>>Legacy Organizations</a></li>
                      <li class='legacy_contacts'><a href=<%=admin_legacy_contacts_path%>>Legacy Contacts</a></li>
                    </ul>
                </li>      
            </ul>
          </li> <!-- end admin verified only -->
        <% end %>
            </ul>
        </section>
    </nav>