 <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <a href="/"><%= image_tag "ccu-logo-balloons.png", :width => 71, :height => 40, :alt => "Crisis Cleanup Home"  %></a>
            </li>            
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <!-- right side navigation -->
        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
                <li class="active"><%= link_to "Home", root_path %></li>
                <li><%= link_to "Map", incident_legacy_map_path(current_user_event) %></li>                
                <li><%= link_to worker_incident_legacy_form_path(current_user_event) do %>
                Intake <i class="fa fa-plus"></i>
                <% end %>
                </li>
      <li class="has-dropdown"><a href="#">Help</a>
        <ul class="dropdown">
          <li class="has-dropdown"><a href="https://crisiscleanup.zendesk.com/hc/en-us/sections/200166636-Policies" target="_blank">Policies</a>
            <ul class="dropdown">
              <li class='claiming_policy'><a href="https://crisiscleanup.zendesk.com/hc/en-us/articles/227036588-Work-Order-Case-Claiming-Policy" target="_blank">Claiming Policy</li>
              <li class='client_data_policy'><a href="https://crisiscleanup.zendesk.com/hc/en-us/articles/200819327-Client-Personal-Data-Collection-Policy" target="_blank">Client Data Policy</a></li>
              <li class='participation_requirements'><a href="https://crisiscleanup.zendesk.com/hc/en-us/articles/200603007-Requirements-for-Participation" target="_blank">Participation Requirements</a></li>
              <li class='good_fit'><a href="https://crisiscleanup.zendesk.com/hc/en-us/articles/200596493-Is-Crisis-Cleanup-a-Good-Fit-" target="_blank">Is Crisis Cleanup a Good Fit?</a></li>
            </ul>
          </li>
          <li class="training"><a href="https://www.crisiscleanup.org/training" target="_blank">Mandatory Training Video</a></li>
          <li class="stats"><a href="https://crisiscleanup.zendesk.com/hc/en-us" target="_blank">Search Helpdesk</a></li>
          <li class="trouble_ticket"><a href="https://crisiscleanup.zendesk.com/hc/en-us/requests/new" target="_blank">Submit Trouble Ticket</a></li>
        </ul>
      </li>
               <% if current_user %> <!-- user verified only -->
                <li class="has-dropdown"><%= link_to "Dashboard", worker_dashboard_path %>
                    <ul class="dropdown">
                        <li><%= link_to "Contacts", root_path %></li>
                        <li><%= link_to "Orgs", root_path %></li>
                        <li><%= link_to worker_incident_legacy_sites_index_path(current_user_event) do %>
                        Browse
                        <% end %>
                        </li>
                        <li><%= link_to "Stats", root_path %></li>
                        <li><%= link_to "Redeploy", root_path %></li>
                    </ul>
                </li> <!-- end user verified only -->   
        <% if current_user.admin %> <!-- admin verified only -->
          <li class="has-dropdown"><%= link_to "Admin", admin_path%>
            <ul class="dropdown">
                <li class="users"><a href=<%=admin_users_path%>>Users</a></li>
                <li class="stats"><a href=<%=admin_stats_path%>>Stats</a></li>
                <li class="import"><a href=<%=admin_csv_import_form_path%>>Import</a></li>
                <li class="has-dropdown"><a href="#">Legacy Models</a>
                    <ul class="dropdown">
                      <li class='legacy_events'><a href=<%=admin_legacy_events_path%>>Legacy Events</a></li>
                      <li class='legacy_sites'><a href=<%=admin_legacy_sites_path%>>Legacy Sites</a></li>
                      <li class='legacy_organizations'><a href=<%=admin_legacy_organizations_path%>>Legacy Organizations</a></li>
                      <li class='legacy_contacts'><a href=<%=admin_legacy_contacts_path%>>Legacy Contacts</a></li>
                    </ul>
                </li>      
            </ul>
          </li> <!-- end admin verified only -->
        <% end %>
            </ul>
        </section>
    </nav>