 <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <a href="/"><%= image_tag "ccu-logo-white.png", :alt => "Crisis Cleanup Home"  %></a>
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <!-- right side navigation -->
        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
                <li class=<%=active_class("/")%>><%= link_to "Home", root_path %></li>
                <% if current_user_event %>
                    <li class=<%=active_class(worker_incident_legacy_form_path(current_user_event))%> ><%= link_to "Form", worker_incident_legacy_form_path(current_user_event) %></li>
                    <li class=<%=active_class(worker_incident_legacy_map_path(current_user_event))%>><%= link_to "Map", worker_incident_legacy_map_path(current_user_event) %></li>
                    <li class=<%=active_class(worker_incident_legacy_contacts_path(current_user_event))%>><%= link_to "Contacts", worker_incident_legacy_contacts_path(current_user_event) %></li>
                    <li class=<%=active_class(worker_incident_legacy_organizations_path(current_user_event))%>><%= link_to "Orgs", worker_incident_legacy_organizations_path(current_user_event) %></li>
                    <li class=<%=active_class(worker_incident_legacy_sites_index_path(current_user_event))%>><%= link_to "Sites", worker_incident_legacy_sites_index_path(current_user_event) %></li>
                    <li class=<%=active_class(worker_incident_stats_path(current_user_event))%>><%= link_to "Stats", worker_incident_stats_path(current_user_event) %></li>
                <% end %>

                <% if current_user %>
                    <li class=<%=active_class(worker_dashboard_path )%>><%= link_to "Dashboard", worker_dashboard_path %></li>
                    <% if current_user.admin %>
                        <li><%= link_to "Admin", admin_path%></li>
                    <% end %>
                    <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
                <% else %>
                    <li><%= link_to "Login", new_user_session_path %></li> 
                <% end %>
            </ul>
        </section>
    </nav>