<!-- LARGE SCREEN TOP BAR MENU -->
<section class="navigation-section show-for-large-up">

            <!-- TOP BAR INITIALIZATION -->
            <nav class="top-bar" data-topbar>
                <ul class="title-area">
                    <li class="name">
                        <a href="/">
                            <%=image_tag "ccu-logo-white.png", :alt=> "Crisis Cleanup Home" %></a>
                    </li>
                </ul>
                <!-- END UL.TITLE-AREA -->

                <!-- TOP BAR MENU ELEMENTS -->
                <section class="top-bar-section">
                    <ul class="right" data-dropdown-menu data-click-open="false">                   
                    <li><%= link_to "Home", root_path %></li>
                <% if current_user_event %>
                    <li><%= link_to "Form", worker_incident_legacy_form_path(current_user_event) %></li>
                    <li><%= link_to "Map", worker_incident_legacy_map_path(current_user_event) %></li>
                    <li><%= link_to "Contacts", worker_incident_legacy_contacts_path(current_user_event) %></li>
                    <li><%= link_to "Orgs", worker_incident_legacy_organizations_path(current_user_event) %></li>
                    <li><%= link_to "Sites", worker_incident_legacy_sites_index_path(current_user_event) %></li>
                    <li><%= link_to "Stats", worker_incident_stats_path(current_user_event) %></li>
                <% end %>

                <% if current_user %>
                    <%= nav_link "Dashboard", worker_dashboard_path %>
                    <% if current_user.admin %>
                        <li><%= link_to "Admin", admin_path %></li>
                    <% end %>
                    <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
                <% else %>
                    <li><%= link_to "Login", new_user_session_path %></li> 
                <% end %>
            </ul>
                </section>
                <!-- END SECTION.TOP-BAR-SECTION -->
            </nav>
            <!-- END NAV.TOP-BAR -->
</section>
<!-- END SECTION.NAVIGATION-SECTION -->

        <!-- OFF CANVAS MENU BAR -->
        <nav class="tab-bar hide-for-large-up">

            <section class="left">
                        <a href="/" class="name">
                            <%=image_tag "ccu-logo-white.png", :alt=> "Crisis Cleanup Home" %></a>
                </ul>
            </section>

            <section class="right-small tab-bar-section">                
                <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
            </section>

        </nav>
        <!-- END NAV.TAB-BAR HIDE-FOR-LARGE-UP -->

        <!-- OFF CANVAS MENU -->
        <aside class="left-off-canvas-menu">
            <ul class="off-canvas-list">
                <li>
                    <label>Navigation</label>
                </li>
                <%=nav_link "Home", root_path %>
                    </li>
            </ul>
            <ul class="off-canvas-list">
                <% if current_user_event %>
                    <li><%= link_to "Form", worker_incident_legacy_form_path(current_user_event) %></li>
                    <li><%= link_to "Map", worker_incident_legacy_map_path(current_user_event) %></li>
                    <li><%= link_to "Contacts", worker_incident_legacy_contacts_path(current_user_event) %></li>
                    <li><%= link_to "Orgs", worker_incident_legacy_organizations_path(current_user_event) %></li>
                    <li><%= link_to "Sites", worker_incident_legacy_sites_index_path(current_user_event) %></li>
                    <li><%= link_to "Stats", worker_incident_stats_path(current_user_event) %></li>
                <% end %>

                <% if current_user %>
                    <%= nav_link "Dashboard", worker_dashboard_path %>
                    <% if current_user.admin %>
                        <li><%= link_to "Admin", admin_path %></li>
                    <% end %>
                    <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
                <% else %>
                    <li><%= link_to "Login", new_user_session_path %></li> 
                <% end %>
            </ul>
        </aside>
