<div class="row">
	<div class="small-12 medium-7 large-8 columns">
		<h2><%= @event.name %> </h2>
    </div>
    <div class="small-12 medium-5 large-4 columns">
		<a href=<%=edit_admin_legacy_event_path(@event.id)%> 
		class="button">Edit Event</a>
		<% if @event.form.present? %>
			<a href=<%=edit_admin_legacy_event_form_path(@event.id,@event.form.id)%> class="button">Edit Form</a>
		<%else%>
			<a href=<%=new_admin_legacy_event_form_path(@event.id)%> class="button">New Form</a>
		<%end%>
    </div>
<hr>
</div>
<div class="row">
	<div class="small-12 medium-12 large-12 columns">
		<table>
  <thead>
    <tr>
      <th width="200">Case Label</th>
      <th>Name</th>
      <th width="150">Start Date</th>
      <th width="150">End Date</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td> <%= @event.case_label %> </td>
        <td>
        <a href=<%=admin_legacy_event_path(@event.id)%>> 
          <%= @event.name %>
        </a>
        </td>
        <td> <%= @event.start_date %> </td>
        <td> <%= @event.end_date %> </td>
      </tr>
  </tbody>
</table>
	</div>
</div>