<% content_for :title do %>
    Crisis Cleanup - Call Dashboard
<% end %>

<% content_for :subheader do %>
    <div class="row">
      <div class="large-12 columns">
        <h2 class="center">Call Dashboard</h2>
         <div align="center">
            Remaining Callbacks: <%= @remaining_callbacks %>
            Remaining Calldowns: <%= @remaining_calldowns %>
        </div>       
      </div>
    </div>
    <div class="row">
      <div class="small-12 large-5 large-centered columns">
        <strong>Important:</strong> All "calldowns" are phone numbers received from Oklahoma Emergency Management (<em>Oklahoma Storms and Flooding, May 2019</em>). These people called 2-1-1 and asked for their information to be shared with non-profit organizations. We are calling them back to see if they need help. If so, please add an intake. "Callbacks" are recently missed calls from either the Oklahoma or Ohio incidents.<br />
        Sample opening script: <em>"This is [Your First Name] from the Crisis Cleanup hotline. We missed a call from this number [a day or two ago/ a few days ago], probably regarding damage due to the recent storms..."</em>
      </div>
    </div>
<% end %>

<% content_for :main do %>
<style>

.quick-flash {
  -moz-animation: flash 2s ease-out;
  -moz-animation-iteration-count: 1;

  -webkit-animation: flash 2s ease-out;
  -webkit-animation-iteration-count: 1;

  -ms-animation: flash 2s ease-out;
  -ms-animation-iteration-count: 1;
}

@keyframes flash {
    0% { background-color: transparent; }
    50% { background-color: #fbf8b2; }
    100% { background-color: transparent; }
}

@-webkit-keyframes flash {
    0% { background-color: transparent; }
    50% { background-color: #fbf8b2; }
    100% { background-color: transparent; }
}

@-moz-keyframes flash {
    0% { background-color: transparent; }
    50% { background-color: #fbf8b2; }
    100% { background-color: transparent; }
}

@-ms-keyframes flash {
    0% { background-color: transparent; }
    50% { background-color: #fbf8b2; }
    100% { background-color: transparent; }
}
</style>

      <div class="large-6 medium-6 columns">
          <!--<h5 class="center" id="view-claimed-worksites">Next Individual to Call</h5>-->
          
            <div class="panel" style="background: white;">
              <div class="row">
                <div class="small-12 large-12 columns">
                  <h3 class="call-dashboard-blink">Next Call:</h3>
                  <div class="row collapse">
                    <div class="large-6 columns" style="margin:0;">
                      <h2 class="call-dashboard-blink"><a href="tel:<%= number_to_phone(@locked_call.dnis1, area_code: true) %>"><%= number_to_phone(@locked_call.dnis1, area_code: true) %></a></h2>
                    </div>
                    <div class="large-6 columns" style="margin:0;">
                      <span>
                        <button style="margin-top: 3px;" class="button radius tiny secondary" 
                          data-clipboard-text="<%=@locked_call.dnis1%>" id="call-dashboard-phone1-btn">Copy</button>
                      </span>
                    </div>
                  </div>
                  <% if @locked_call.dnis2 %>
                  <div class="row collapse">
                    <div class="large-6 columns" style="margin:0;">
                      <h3 class="call-dashboard-blink"><a href="tel:<%= number_to_phone(@locked_call.dnis2, area_code: true) %>"><%= number_to_phone(@locked_call.dnis2, area_code: true) %></a></h3>
                    </div>
                    <div class="large-6 columns" style="margin:0;">
                      <span><button class="button radius tiny secondary"
                          data-clipboard-text="<%=@locked_call.dnis2%>" id="call-dashboard-phone2-btn">Copy</button>
                    </div>
                  </div>                 
                  <% end %>                 
                </div>
              </div>

              <table style="width: 100%;">
                <tbody>
                  <tr>
                    <td class="call-dashboard-blink">Call Type</td>
                    <td><%= @locked_call.call_type.capitalize %></td>
                  </tr>                                                                                     
                
                  <% if @site %>
                    <tr>
                      <td class="call-dashboard-blink">Name</td>
                      <td><%= @site.name %></td>
                    </tr>                                                                    
                    <tr>
                      <td class="call-dashboard-blink">Case Number</td>
                      <td><%= @site.case_number %></td>
                    </tr>                                                                                       
                    <tr>
                      <td class="call-dashboard-blink">Address</td>
                      <td><%= @site.address %>, <%= @site.city %>, <%= @site.state %></td>
                    </tr>                                                                                     
                     <tr>
                      <td class="call-dashboard-blink">Status</td>
                      <td><%= @site.status %></td>
                    </tr>                                                                                                      
                  <% end %>
                  <tr>
                    <td class="call-dashboard-blink">Caller Location</td>
                    <td><%= @locked_call.location %></td>
                  </tr>
                  <% if @locked_call.inbound_at %>
                  <tr>
                    <td class="call-dashboard-blink">Call Received</td>
                    <td><%= ((Time.now - @locked_call.inbound_at)/(60*60*24)).to_i %> days ago</td>
                  </tr>                                  
                  <% end %>
                  <% if @locked_call.case_updated_at %>
                  <tr>
                    <td class="call-dashboard-blink">Case Last Updated</td>
                    <td><%= ((Time.now - @locked_call.case_updated_at)/(60*60*24)).to_i %> days ago</td>
                  </tr>                                                   
                  <% end %>
                </tbody>
              </table>
              <br />
            <!--<button class="button">Call Now</button>-->
            <% if @site.present? %>
              <%= link_to "Open Edit Form", worker_incident_legacy_edit_site_path(@site.legacy_event_id, @site.id), class: 'button', target: :_blank %>
            <% else %>
              <%= link_to "Open Intake Form", worker_incident_legacy_form_path(current_user_event), class: 'button', target: :_blank %>
            <% end %>
          </div>
      </div>

      <div class="large-6 medium-6 columns">
        <div class="row">
          <div class="large-12 columns">
          <div class="panel" style="background: white;">
              <%= render 'form', phone_outbound_status_id: @locked_call_current_phone_outbound_status.id %>
              </div>
            </div>  
          </div>
      </div>

<% end %>
