<div class='remote'>
  <% if @form %>
    <%= simple_form_for @site, url: url, remote: true, html: { autocomplete: 'off' } do |f| %>
      <%= f.input :autofill_disable, as: :hidden, input_html: { autocomplete: false, style: 'display: none;' } %>
      <%= f.input :claim, as: :hidden, input_html: { value: false } %>
      <%= @form.html_safe %>
      <%= f.input :skip_duplicates, as: :boolean %>
      <div class="row">
        <div class="small-12 medium-12 large-12">
          <%= f.button :submit, 'Save/Guardar', id: 'save-form-btn', class: 'button tiny' %>
          <%= f.button :submit, 'Claim & Save/Guardar y Asignar', id: 'claim-form-btn', class: 'button tiny' %>
          <%= link_to 'Reset/Reiniciar', '', class: 'button secondary tiny', id: 'cancel-form-btn' %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="row">
      <div class="small-12 columns">
        <p>A form for this event was not found.</p>
      </div>
    </div>
  <% end %>
</div>
