<table>
  <thead>
    <tr>
      <th>Case Number</th>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Action</th>

    </tr>
  </thead>
  <tbody>
    <% sites.each do |site| %>
      <tr>
        <td> <%= site.case_number %> </td>
        <td> <%= site.name %></td>
        <td> <%= site.address %> </td>
        <td> <%= site.city %> </td>
        <td> <%= site.state %> </td>
        <td> <%= site.zip_code %> </td>
        <td> 
          <a href=<%=worker_incident_legacy_edit_site_path(event_id, site.id)%>>
              Edit
            </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>