<% content_for :title do %>
    Crisis Cleanup - Print
<% end %>

<% content_for :subheader do %>

<% end %>

<% content_for :main do %>
  <div id="main" class="alt">
    <!-- do not remove spans-->
    <span class='m-id hidden'><%= @legacy_event.id %></span>
    <span class='m-pin hidden'>all</span>

    <div class='map-wrapper'>
      <div id="worker-map-canvas" style="width: 100%; min-height: 600px; height: 100%; margin-top: -41px;"></div>
    </div>
    <%= image_tag "map_legend.png", :class => "legend"  %>
    <div id="map-infobox"></div>
  </div>
<% end %>

<% content_for :sidebar do %>
  <div id="sidebar">
    <h4>Incident Map Tools</h4>
    <ul class="tabs" data-tab>
      <li class="tab-title active"><a href="#panel1">Edit Form</a></li>
      <li class="tab-title"><a href="#panel2">Filters</a></li>
    </ul>
    <div class="tabs-content">
      <div class="content active" id="panel1">
        <%= render 'site_form', url:worker_incident_path(@site.legacy_event.id) %>
      </div>
      <div class="content" id="panel2">
        <div class="row">
          <div class="small-12 columns">
            <ul id="map-filters">
              <% if current_user.admin == false %><li><input id="claimed-by-filter" type="checkbox"><label for="claimed-by-filter">Claimed by <%= current_user.legacy_organization.name %></label></li><% end %>
              <li><input id="unclaimed-filter" type="checkbox"><label for="unclaimed-filter">Unclaimed</label></li>
              <li><input id="open-filter" type="checkbox"><label for="open-filter">Open</label></li>
              <li><input id="closed-filter" type="checkbox"><label for="closed-filter">Closed</label></li>
              <% if current_user.admin == false %><li><input id="reported-by-filter" type="checkbox"><label for="reported-by-filter">Reported by <%= current_user.legacy_organization.name %></label></li><% end %>
              <li><input id="flood-damage-filter" type="checkbox"><label for="flood-damage-filter">Primary problem is flood damage</label></li>
              <li><input id="trees-filter" type="checkbox"><label for="trees-filter">Primary problem is trees</label></li>
              <li><input id="goods-and-services-filter" type="checkbox"><label for="goods-and-services-filter">Primary need is goods and services</label></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
