<% content_for :title do %>
    Crisis Cleanup - Map
<% end %>

<% content_for :subheader do %>

<% end %>

<% content_for :main do %>
  <div id="main" class="alt">
    <!-- do not remove spans -->
    <% if params[:site_id] %>
    <span id="site-id" class='hide'><%= params[:site_id] %></span>
    <% end %>
    <span class='m-id hidden'><%= @legacy_event.id %></span>
    <span class='m-pin hidden'>all</span>
    <div class='map-wrapper'>
      <div id="worker-map-canvas" class="map-margin-fix" style="width: 100%; min-height: 600px; height: 100%;"></div>
      <%= image_tag "map_legend.png", :class => "legend"  %>
      <div id="map-infobox"></div>
    </div>
  </div>
<% end %>

<% content_for :sidebar do %>
  <div id="sidebar">
    <div id="filters-view">
    <h4>Search</h4>
      <input id="map-search-btn" type="search" style="width: 95%!important; margin-left: 12px;" />
      <h4>Map Filters</h4>
          <div id="map-filters"></div>
        <h4>Download</h4>
        <a href="#" class="button tiny" id="download-csv-btn" style="margin-left: 13px;">CSV</a>
        <p><em>Note: CSV does not include Damage Assessments (DAs). To convert a DA to a work order, edit the DA on the map and change the "Primary Help Needed" to something like "Flood."</em></p>
    </div>
    <div class="hide" id="form-view">
      <h4 id="form-header">Map Filters</h4>
      <%= render 'site_form', url: worker_incident_path(@legacy_event.id) %>
    </div>
    <script type="x-template" id="history-template">
      <div>
        <div class="row">
          <div v-if="claimedByUser" class="small-12 medium-12 large-12 columns">
            <b>Claimed By: </b><a :href="'mailto:' + claimedByUser.u_email">{{claimedByUser.u_name}}</a>, {{claimedByUser.u_mobile | phone}}
            <br/>
            <b>Organization: </b><a :href="'<%= worker_incident_legacy_organizations_path %>/' + claimedByUser.lg_id">{{claimedByUser.lg_name}}</a>
          </div>
        </div>
        <div class="row" style="margin: 10px 0px;" v-for="user in siteHistory">
          <div class="small-12 medium-12 large-12 columns">
            <div class="row">
              <div class="small-12 medium-12 large-12 columns">
                <a :href="'mailto:' + user.user_info.email">{{user.user_info.name}}</a> made {{user.versions.length}} edit<span v-if="user.versions.length > 1">s</span>.
              </div>
            </div>
            <div class="row" v-for="version in user.versions">
              <div class="small-11 medium-11 large-11 small-offset-1 medium-offset-1 large-offset-1 columns" style='font-size: smaller;'>
                <b>*</b>{{getPrettyTimestamp(version.version_info.created_at)}}: {{convertEvent(version.version_info.event)}}
                <span v-if="version.claimed">- Claimed</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </script>
    <div class="hide" id="history-view">
      <div id="history-data">
        <h4>Site History</h4>
        <div class="row">
          <div class="small-12 medium-12 large-12 columns">
            <p style="font-size: smaller">WARNING: DO NOT SHARE THIS INFORMATION WITH SURVIVORS. This information is for internal coordination use only. If you are not a member of a volunteer's organization, you may not tell them what to do, or when to deploy. If you don't follow these instructions, we will have to take away your nice things and use paper plates instead of china.</p>
          </div>
        </div>
        <div v-show="hasError" class="row">
          <div class="small-12 medium-12 large-12 columns">
            <b>History not available. If this persists, try restarting your browser or clearing your cache.</b>
          </div>
        </div>
        <div v-show="loading" class="row">
          <div class="small-12 medium-12 large-12 columns">
            <div class="loader"></div>
          </div>
        </div>
        <history-vue v-show="!loading" :site-history="historyData" :claimed-by-user="claimedByUser"></history-vue>
      </div>
    </div>
  </div>
<% end %>

<% content_for :javascripts do %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
<% end %>

<% content_for :joyride do %>
    <%= render 'worker/dashboard/joyride_map' %>
    <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js' %>
    <script type="text/javascript">
        $(document).foundation('joyride', 'start', {
            modal: false,
            cookie_monster: true,
            cookie_name: 'cc-joyride'
        });
    </script>
<% end %>
