<% content_for :title do %>
    Crisis Cleanup - Map
<% end %>

<% content_for :subheader do %>

<% end %>

<% content_for :main do %>
  <div id="main" class="alt">
    <!-- do not remove spans -->
    <% if params[:site_id] %>
    <span id="site-id" class='hide'><%= params[:site_id] %></span>
    <% end %>
    <span class='m-id hidden'><%= @legacy_event.id %></span>
    <span class='m-pin hidden'>all</span>
    <div class='map-wrapper'>
      <div id="worker-map-canvas" class="map-margin-fix" style="width: 100%; min-height: 600px; height: 100%;"></div>
      <%= image_tag "map_legend.png", :class => "legend"  %>
      <div id="map-infobox"></div>
    </div>
  </div>
<% end %>

<% content_for :sidebar do %>
  <div id="sidebar">
    <div id="filters-view">
    <h4>Search</h4>
      <input id="map-search-btn" type="search" style="width: 95%!important; margin-left: 12px;" />
      <h4>Map Filters</h4>
          <div id="map-filters"></div>
        <h4>Download</h4>
        <a href="#" class="button tiny" id="download-csv-btn" style="margin-left: 13px;">CSV</a> Not working? <a href="https://crisiscleanup.zendesk.com/hc/en-us/requests/new" class="button tiny" id="request-csv-btn" target="_blank" style="margin-left: 13px;">Request a CSV</a> <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="We are tracking down a bug that prevents CSV files with more than 5,000 rows from downloading everything. In the meantime, you may request a complete CSV by submitting a request."><i class="fa fa-question"></i></span>
        <p><em>Note: CSV does not include Damage Assessments (DAs). To convert a DA to a work order, edit the DA on the map and change the "Primary Help Needed" to something like "Flood."</em></p>
    </div>
    <div class="hide" id="form-view">
      <h4 id="form-header">Map Filters</h4>
      <%= render 'site_form', url: worker_incident_path(@legacy_event.id) %>
    </div>
  </div>
<% end %>

<% content_for :javascripts do %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
<% end %>

<% content_for :joyride do %>
    <%= render 'worker/dashboard/joyride_map' %>
    <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js' %>
    <script type="text/javascript">
        $(document).foundation('joyride', 'start', {
            modal: false,
            cookie_monster: true,
            cookie_name: 'cc-joyride'
        });
    </script>
<% end %>
