<% content_for :title do %>
    Crisis Cleanup - Stats
<% end %>

<% content_for :main do %>
<h2>Stats by incident: <%= @event.name %></h2>
<h3>Work types</h3>
<table>
  <thead>
    <tr>
      <% @work_type_counts.each do |work_type| %>
      	<td><%= work_type[0] %></td>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @work_type_counts.each do |work_type| %>
      	<td><%= work_type[1] %></td>
      <% end %>
    </tr>
  </tbody>
</table>

<h3>Statuses</h3>
<table>
  <thead>
    <tr>
      <% @status_counts.each do |status| %>
      	<td><%= status[0] %></td>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @status_counts.each do |status| %>
      	<td><%= status[1] %></td>
      <% end %>
    </tr>
  </tbody>
</table>

<h3>By Organization</h3>
<table>
  <thead>
    <tr>
      <td>Incident</td>
      <td>Organization</td>
      <td>Claimed Work Orders</td>
      <td>Open</td>
      <td>Closed</td>
      <td>Added</td>
      <td>Last Login</td>
    </tr>
  </thead>
  <tbody>
  	<% @orgs.each do |org| %>
	    <tr>
	      <td><%= @event.name %></td>
        <td><%= org.name %></td>
        <td><%= org.claimed_site_count %></td>
        <td><%= org.open_site_count %></td>
        <td><%= org.closed_site_count %></td>
        <td><%= org.reported_site_count %></td>
        <td><%= org.timestamp_login %></td>
	    </tr>
	<% end %>
  </tbody>
</table>

<% end %>

<% content_for :sidebar do %>        
<div id="sidebar">
    <h2>How to Use this Info</h2>
    <p>Use this page to follow up with organizations that may be struggling or perhaps have not reported their work.</p>
    <p>Although a local VOAD <em>may</em> appoint a single organization to coordinate with other organizations, it's everybody's job to follow up.</p>
</div>
<% end %>
