<%= form_tag request_invitations_path %>
<div class="small-12 medium-12 large-12 columns registration_form_template">
	  <%= text_field_tag :name, nil, autocomplete: "off", placeholder: "Enter your name" %>
	  <%= text_field_tag :email, nil, autocomplete: "off", placeholder: "Enter your email" %>
      <%= select_tag "legacy_organization_id", options_from_collection_for_select(@organizations, "id", "name") %>
	  <%= submit_tag "Submit", :class => "button" %>
</div>