<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Website</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip Code</th>

    </tr>
  </thead>
  <tbody>
      <tr>
        <td>
          	<%= organization.name %>
        </td>
        <td>
            <%= organization.email %>
        </td>
        <td>
            <!--<%= organization.phone %>--> Temporarily <a href="http://blog.crisiscleanup.org/2017/09/internal-phone-numbers-hidden.html" target="_blank">Hidden</a>
        </td>
        <td>
            <%= organization.url %>
        </td>
        <td>
            <%= organization.address %>
        </td>
        <td>
            <%= organization.city %>
        </td>
        <td>
            <%= organization.state %>
        </td>
        <td>
            <%= organization.zip_code %>
        </td>
        
      </tr>
  </tbody>
</table>

<h3>Contacts</h3>
<%= render 'contacts_table', contacts: organization.legacy_contacts, event_id: @event_id %>

