<%= simple_form_for org, url: url do |f| %>
  <div class="row">
    <h4 class="medium-12 columns"><%= t('registration_34')%></h4>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <%= f.input :legacy_events, collection: Legacy::LegacyEvent.all, label: false %>
    </div>
  </div>
  <div class="contact_section">
    <div class="row">
      <h4 class="medium-12 columns"><%= t('registration_35')%></h4>
    </div>
    <div class="row">
      <div class="medium-6 columns contact_form">
        <%= f.simple_fields_for :legacy_contacts do |p| %>
          <%= render 'legacy_contact_form', contact: p %>
        <% end %>
        <%= link_to_add_contact t('registration_40'),f,:legacy_contacts %>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="small-12 medium-12 large-12 columns">
      <h3><%= t('registration_35')%></h3>
      <p><strong><%= t('registration_36')%></strong></p>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <%= f.input :name, label:t('registration_41')  %>
    </div>
    <div class="medium-6 columns">
      <%= f.input :email, label: t('registration_42') %>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <%= f.input :address, label: t('registration_43') %>
    </div>
    <div class="medium-6 columns">
      <%= f.input :city, label: t('registration_44') %>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <%= f.input :state, label: t('registration_45') %>
    </div>
    <div class="medium-6 columns">
      <%= f.input :zip_code, label: t('registration_46') %>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <%= f.input :referral, label: t('registration_47') %>
    </div>
    <div class="medium-6 columns">
      <%= f.input :url, label: t('registration_48') %>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <%= f.input :facebook, label: t('registration_49') %>
    </div>
    <div class="medium-6 columns">
      <%= f.input :twitter, label: t('registration_50') %>
    </div>
  </div>
  <h3><%= t('registration_38')%></h3>

  <div class="boxes">
    <div class="row">
      <div class="small-12 medium-12 columns">
        <%= f.input :review_other_organizations, label: t('registration_51') .html_safe %>
      </div>
      <div class="small-12 medium-12 columns">
        <%= f.input :does_damage_assessment, label: t('registration_51') .html_safe %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-12 columns">
        <%= f.input :does_cleanup, label: t('registration_52').html_safe %>
      </div>
      <div class="small-12 medium-12 columns">
        <%= f.input :does_follow_up, label: t('registration_53').html_safe %>
      </div>
    </div>


    <div class="row">
      <div class="small-12 medium-12 columns">
        <%= f.input :does_minor_repairs, label: t('registration_54').html_safe %>
      </div>
      <div class="small-12 medium-12 columns">
        <%= f.input :does_rebuilding, label: t('registration_55') .html_safe %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-12 columns">
        <%= f.input :does_coordination, label: t('registration_56').html_safe %>
      </div>
      <div class="small-12 medium-12 columns">
        <%= f.input :government, label: t('registration_57').html_safe %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-12 columns">
        <%= f.input :does_other_activity, label: t('registration_58').html_safe %>
      </div>
      <div class="small-12 medium-12 columns">
        <%= f.input :not_an_org, label: t('registration_59').html_safe %>
      </div>
    </div>

    <div class="row">
    <div class="medium-6 columns">
      <%= f.input :where_are_you_working, label: t('registration_60').html_safe, placeholder: "Cities/Counties" %>
    </div>
  </div>
    <div class="row">
      <div class="small-12 medium-6 columns">
        <%= f.input :publishable, label: t('registration_61').html_safe, checked: "checked" %>
      </div>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="small-12 medium-6 columns">
        <%= f.input :accepted_terms, label: t('registration_63') .html_safe, required: true %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="medium-12 columns">
      <%= f.button :submit, t('registration_62') %>
    </div>
  </div>
<% end %>
