<%= simple_form_for org, url: url do |f| %>
  <div class="row">
    <h4 class="medium-12 columns">Choose a Disaster</h4>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <%= f.input :legacy_events, collection: Legacy::LegacyEvent.all, label: false %>
    </div>
  </div>
  <div class="contact_section">
    <div class="row">
      <h4 class="medium-12 columns">Primary Contacts</h4>
    </div>
    <div class="row">
      <div class="medium-6 columns contact_form">
        <%= f.simple_fields_for :legacy_contacts do |p| %>
          <%= render 'legacy_contact_form', contact: p %>
        <% end %>
        <%= link_to_add_contact "Add Contact",f,:legacy_contacts %>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="small-12 medium-12 large-12 columns">
      <h3>Organization Information</h3>
      <p>Please use your local team name. E.g. "Team Rubicon Region 5" or "LDS Church - Plainview Stake" rather than "Team Rubicon" or "LDS Church"</p>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <%= f.input :name, label:'Organization Name' %>
    </div>
    <div class="medium-6 columns">
      <%= f.input :email %>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <%= f.input :address %>
    </div>
    <div class="medium-6 columns">
      <%= f.input :city %>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <%= f.input :state %>
    </div>
    <div class="medium-6 columns">
      <%= f.input :zip_code %>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <%= f.input :referral %>
    </div>
    <div class="medium-6 columns">
      <%= f.input :url, label:'Website' %>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <%= f.input :facebook %>
    </div>
    <div class="medium-6 columns">
      <%= f.input :twitter %>
    </div>
  </div>
  <h3>Roles</h3>

  <div class="boxes">
    <div class="row">
      <div class="small-12 medium-6 columns">
        <%= f.input :does_damage_assessment %>
      </div>
      <div class="small-12 medium-6 columns">
        <%= f.input :does_intake_assessment %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-6 columns">
        <%= f.input :does_cleanup %>
      </div>
      <div class="small-12 medium-6 columns">
        <%= f.input :does_follow_up %>
      </div>
    </div>


    <div class="row">
      <div class="small-12 medium-6 columns">
        <%= f.input :does_minor_repairs %>
      </div>
      <div class="small-12 medium-6 columns">
        <%= f.input :does_rebuilding %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-6 columns">
        <%= f.input :does_coordination %>
      </div>
      <div class="small-12 medium-6 columns">
        <%= f.input :government %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-6 columns">
        <%= f.input :does_other_activity %>
      </div>
      <div class="small-12 medium-6 columns">
        <%= f.input :not_an_org %>
      </div>
    </div>
    <div class="row">
    <div class="medium-6 columns">
      <%= f.input :where_are_you_working, placeholder: "Cities/Counties" %>
    </div>
  </div>
    <div class="row">
      <div class="small-12 medium-6 columns">
        <%= f.input :publishable, label: "Publish Organization Profile" %>
      </div>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="small-12 medium-6 columns">
        <%= f.input :accepted_terms, label: "Accept Terms of Service" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="medium-12 columns">
      <%= f.button :submit, "Sign Up" %>
    </div>
  </div>
<% end %>
