<% content_for :title do %>
    Crisis Cleanup - Welcome
<% end %>


<% content_for :main do %>
	<h2><%= t('registration_69') %></h2>
	<p><%= t('registration_70')%> <a href="/training"><%= t('registration_71')%></a> <%= t('registration_72')%></p>
	<p><strong><%= t('registration_73')%></strong></p>
	<p><%= t('registration_74')%></p>
	<p><%= t('registration_75')%> <a href="mailto:help@crisiscleanup.org"><%= t('registration_76')%></a><%= t('registration_77')%></p>
<%end%>