<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @new_user.name %>,</p>
    <p>Congratulations! <%= @verified_by.name %> (<%= @verified_by.email %>) from <%= @verified_by.legacy_organization.name %> has verified and activated our Crisis Cleanup account. Please log in here: <%= link_to new_user_session_url, new_user_session_url %>.</p>
    <p>If you haven't already, please watch the Mandatory 8-Minute Training Video here: <%= link_to training_url, training_url %>. This will answer all of your questions and get you into the field helping people right away.</p>
    <p><strong>-Crisis Cleanup Support Services</strong></p>
    <p>Twitter: <a href="https://twitter.com/CrisisCleanup">@CrisisCleanup</a><br />
    Help: <a href="https://crisiscleanup.zendesk.com/hc/">https://crisiscleanup.zendesk.com/hc/</a><br />
    Facebook: <a href="http://bit.ly/CrisisCleanup">http://bit.ly/CrisisCleanup</a><br />
    <small><em>Crisis Cleanup is a free, open source Collaborative Disaster Recovery Mapping tool.</em></small>

    <hr />
    <p><a href="http://h2prep.me/ccu" target="_blank"><img src="http://h2prep.me/other_assets/h2prep_logo.png" height="75" alt="How to Prepare for Everything" align="left" border="0"></a>Crisis Cleanup is proudly sponsored by <a href="http://h2prep.me/ccu" target="_blank"><em>How to Prepare for Everything</em></a>, a fresh look at personal, family, and community preparation and volunteerism. Preparing for a few disruptions will prepare you for any disaster. Buy the book and support Crisis Cleanup.</p>
    <p>Prepare for disruptions.<br />
    Prepare together.<br />
    <strong>Prepare for everything</strong>.</p>
  </body>
</html>
