<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Name: <%= @name %></p>
    <p>Email: <%= @email %></p>
    <p>Phone: <%= @phone %></p>
    <p>Organization: <%= @organization %></p>
    <p>Title: <%= @title %></p>
    <p>Details: <%= @details %></p>
  </body>
</html>
