<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

    <style type="text/css">
      .spaced {
        display: inline-block;
        margin-top:30px;
        margin-left: 50%
      }

      .spaced > td > a {
        padding-left: 30px
      }
    </style>

  </head>
  <body>

    <table>
      <tr>
        <th width="200" align="left">Organization:</th>
        <td><%= @user.legacy_organization.name %></td>
      </tr>
      <tr>
        <th width="200" align="left">User:</th>
        <td><%= @user.name %> (<%= @user.email %>)</td>
      </tr>
      <tr>
        <th width="200" align="left">User Phone #:</th>
        <td><%= @user.mobile %></td>
      </tr>
      <tr>
        <th width="200" align="left">New Event:</th>
        <td><%= @event.name %></td>
      </tr>
      <tr>
        <th width="200" align="left">Origin IP:</th>
        <td>
          <a <%= "href=\"https://infosniper.net?ip_address=#{@origin_ip}\"".html_safe %>>
            <%= @origin_ip %>
          </a>
        </td>
      </tr>
      <tr>
        <th width="200" align="left">Previous Events:</th>
        <td><%= @previous_events.join(', ') %></td>
      </tr>
    </table>


    <br />
    <br />
    <a <%= "href=\"mailto:#{@user.email}\"".html_safe %>>Reject</a>
    <br />
    <br />
    <%= @redeploy_request.accept  %>


  </body>
</html>
