<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>We have received your application to join Crisis Cleanup. While we always try to be faster, please allow up to 48 hours to approve your application. In the meantime, please watch this mandatory 8-minute training video: <a href="https://www.crisiscleanup.org/training">https://www.crisiscleanup.org/training</a>. When your organization has been approved, you will receive another email inviting you to activate your account.</p>

    <p>Organization: <%= @org.name %><br />
    Incident: <%= @org.legacy_events.first.name %></p>

    <p>The current contacts for <%= @org.name %> are:

    <% @org.legacy_contacts.each do |contact| %>
      <br /><%= contact.first_name %> <%= contact.last_name %>, <%= contact.email %>
    <% end %>
    </p>

    <p>After your organization is approved, please invite all authorized members of your organization to participate from the Dashboard. They can update records and help more people.</p>

    <p>Crisis Cleanup is like "Craigslist" for disaster recovery. Organizations that know of a need enter work orders into the system. Organizations with capacity help as soon as they can. Access is by invitation, subject to the Terms and Privacy Policy (on the website), and may be revoked at any time if there is evidence of abuse, improper use of client information, or if your organization is no longer active in recovery efforts. The tool is provided "AS IS" without any warranty of fitness for any particular purpose.</p>

    <p>Instructions & Common Questions</p>
    <p>1. Help and FAQ: <a href="https://crisiscleanup.zendesk.com/hc/en-us">https://crisiscleanup.zendesk.com/hc/en-us</a><br />
    <p>2. Training: <a href="https://www.crisiscleanup.org/training">https://www.crisiscleanup.org/training</a><br />
    <p>3. Policies: <a href="https://crisiscleanup.zendesk.com/hc/en-us/sections/200166636-Policies">https://crisiscleanup.zendesk.com/hc/en-us/sections/200166636-Policies</a></p>

    <p>Disclaimer: Remember that the system is free and run by volunteers. We're trying to improve it, so please report errors.</p>

    <p><strong>-Crisis Cleanup Support Services</strong></p>
    <p>Twitter: <a href="https://twitter.com/CrisisCleanup">@CrisisCleanup</a><br />
    Help: <a href="https://crisiscleanup.zendesk.com/hc/">https://crisiscleanup.zendesk.com/hc/</a><br />
    Facebook: <a href="http://bit.ly/CrisisCleanup">http://bit.ly/CrisisCleanup</a><br />
    <small><em>Crisis Cleanup is a free, open source Collaborative Disaster Recovery Mapping tool.</em></small>
  </body>
</html>
