<% content_for :main do %>
<h2>Sign up and activate account</h2>

<%= simple_form_for(User.new, url: invitations_activate_path+"?token=#{@invitation.token}") do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, :as => :hidden, :input_html => { :value => @invitation.invitee_email } %>
    <%= f.input :name, required: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
    <%= f.input :password_confirmation, required: true %>
    <input type=checkbox id="accept-terms"> <strong>I agree to the <a target="_blank" id="privacy_link" href="/terms">Terms of Service</a> and <a target="_blank" id="privacy_link" href="/privacy">Privacy Policy</a></strong>
  </div>


  <div class="form-actions">
    <%= f.button :submit, "Sign up", class: 'invitation-confirmation-button' %>
  </div>
<% end %>


<%end%>