<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear Crisis Cleanup Administrator,</p>
    <p>The following group has applied to participate on Crisis Cleanup.  To review and verify, visit: <%= link_to edit_admin_legacy_organization_url(@org.id), edit_admin_legacy_organization_url(@org.id) %>.</p>
    <p>Organization name: <%= @org.name %><br />
    Organization Website: <%= link_to @org.url, @org.url %><br />
    Incident: <%= @org.legacy_events.last.name %>
    </p>
    <p><strong>Contacts:</strong></p>
    <% @org.legacy_contacts.each do |contact| %>
      <p>
        <%= contact.display_name %>
        <% if contact.title %>
          <br><%= contact.title %>
        <% end %>
        <% if contact.phone %>
          <br><%= contact.phone %>
        <% end %>
      </p>
    <% end %>
    <p>The approval process is two steps: Verification and Activation.  You, the administrator, verifies that this group is eligible to participate in Crisis Cleanup.  Once you verify this organization, the contact(s) will receive an email notification asking them to activate their account.</p>
    <p>The activation process may require the contact to answer a few easy questions about how Crisis Cleanup works. The purpose of activation is to make sure that at least one person in that organization has received a minimum amount of training. The questions are not designed to be hard; just to make them think.</p>
  </body>
</html>
