<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Title</th>
      <th>Organization</th>
      <th>Primary Contact</th>
    </tr>
  </thead>
  <tbody>
    <% contacts.each do |contact| %>
      <tr>
        <td>
          <a href=<%=worker_incident_legacy_contact_path(event_id, contact.id)%>> 
            <%= contact.first_name + ' '+ contact.last_name %>
          </a>
        </td>
        <td>
            <%= contact.email %>
        </td>
        <td> 
          <!--<%= contact.phone %>--> Temporarily <a href="http://blog.crisiscleanup.org/2017/09/internal-phone-numbers-hidden.html" target="_blank">Hidden</a>
        </td>
        <td>
            <%= contact.title %>
        </td>
        <td> 
          <%= contact.legacy_organization.name if contact.legacy_organization %> 
        </td>
        <td>
          <%= contact.is_primary %>
        </td>
    <% end %>
  </tbody>
</table>