<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Role</th>

      <th>Organization</th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td> 
          <%= user.name %> 
        </td>
        <td> 
          <%= user.title %> 
        </td>
        <td> 
          <%= user.mobile %> 
        </td>
        <td> 
          <%= user.email %> 
        </td>
        <td>
            <%= user.role %>
        </td>
        <td> 
          <%= user.legacy_organization.name %> 
        </td>
    <% end %>
    <!-- contacts below users -->
    <% contacts.each do |contact| %>
      <tr>
        <td> 
          <%= link_to contact.display_name, worker_incident_legacy_contact_path(event_id, contact.id) %> 
        </td>
        <td> 
          <%= contact.title %> 
        </td>
        <td> 
          <%= contact.phone %> 
        </td>
        <td> 
          <%= contact.email %> 
        </td>
        <td>
          <%= 'Contact' %>
        </td>
        <td> 
          <%= contact.legacy_organization.name %> 
        </td>
    <% end %>

  </tbody>
</table>