<table style="width: 100%;">
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Last Signed In</th>
    </tr>
  </thead>
  <tbody>
    <% if @users %>
      <% @users.each do |user| %>
        <tr>
          <td> <%= user.name %> </td>
          <td> <%= user.role %> </td>
          <td> <%= user.email %> </td>
          <td> <%= number_to_phone(user.mobile) %> </td>
          <td> <%= user.last_sign_in_at.strftime("%m/%d/%Y") if user.last_sign_in_at %> </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>