<% content_for :title do %>
    Crisis Cleanup - Login
<% end %>

<% content_for :main do %>
<h2><%= t('login_1') %></h2>
<p><%= t('login_2') %></p>
<!--
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, label: t('login_3'), required: false, autofocus: true %>
    <%= f.input :password, label: t('login_4'), required: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('login_5') %>
  </div>
<% end %>

<p><%= t('login_6') %>
  <ul>
    <li><a href="/register"><%= t('login_7') %></a> <%= t('login_8') %></li>
    <li><a href="/volunteer"><%= t('login_9') %></a> <%= t('login_10') %></li>
    <li><a href="/password/new"><%= t('login_11') %></a> <%= t('login_12') %></li>
    <li><a href="https://crisiscleanup.zendesk.com/hc/en-us/requests/new"><%= t('login_13') %></a> <%= t('login_14') %></li>
    <li><a href="/worker/temporary_passwords/new">Use your Temporary Password</a> (if you have one)</li>
  </ul>-->
<p>

<%= render "devise/shared/links" %>
<br>
<%end%>