<table>
  <thead>
    <tr>
      <th width="200">Event</th>
      <th>Name</th>
      <th width="150">Address</th>
      <th width="150">City</th>
    </tr>
  </thead>
  <tbody>
    <% sites.each do |site| %>
      <tr>
        <td>  
          <%= site.legacy_event.name %>
        </td>
        <td><a href=<%=edit_admin_legacy_site_path(site.id)%>> <%= site.name %> </a></td>
        <td> <%= site.address %> </td>
        <td> <%= site.city %> </td>
      </tr>
    <% end %>
  </tbody>
</table>