<%= form_tag worker_authorize_temporary_password_path %>
	<div class="small-12 medium-12 large-12 columns invite registration_form_template">
	  <%= text_field_tag :email, nil, autocomplete: "off", placeholder: "Enter your email" %>
	  <%= text_field_tag :password, nil, autocomplete: "off", placeholder: "Enter Temporary Password" %>
	  <%= text_field_tag :password_confirmation, nil, autocomplete: "off", placeholder: "Confirm Temporary Password" %>
	  <%= submit_tag "Submit", :class => "button" %>
	</div>   