<% content_for :title do %>
    Crisis Cleanup - Stats By Incident
<% end %>

<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <h2>Stats by incident: <%= @event.name %></h2>
    <%= link_to 'Export CSV', admin_stats_by_incident_path(format: :csv) %>
  </div>

  <div class="small-6 medium-6 large-6 columns">
    <h3>Work Orders</h3>
    <table>
      <thead>
        <tr>
          <td></td>
          <td>Claimed</td>
          <td>Unclaimed</td>
          <td>Total</td>
        </tr>
      </thead>
      <tbody>
        <% @work_orders.each do |wo| %>
          <tr>
            <td><%= wo[0] %></td>
            <td><%= wo[1].select { |x| x.claimed_by }.count %></td>
            <td><%= wo[1].select { |x| x.claimed_by.nil? }.count %></td>
            <td><%= wo[1].count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="small-6 medium-6 large-6 columns">
    <h3>Work Types</h3>
    <table>
      <thead>
        <tr>
          <td></td>
          <td>Open</td>
          <td>Closed</td>
          <td>Total</td>
        </tr>
      </thead>
      <tbody>
        <% @work_types.each do |work_type| %>
          <tr>
            <td><%= work_type[0] %></td>
            <td><%= work_type[1].select { |v| v.status =~ /Open/ }.count %></td>
            <td><%= work_type[1].select { |v| v.status =~ /Closed/ }.count %></td>
            <td><%= work_type[1].count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="small-12 medium-12 large-12 columns">
   <h3>By Organization</h3>
    <table>
      <thead>
        <tr>
          <td>Incident</td>
          <td>Organization</td>
          <td>Claimed Work Orders</td>
          <td>Open</td>
          <td>Closed</td>
          <td>Reported</td>
          <td>Last Login</td>
        </tr>
      </thead>
      <tbody>
        <% @event.legacy_organizations.each do |org| %>
          <tr>
            <td><%= @event.name %></td>
            <td><%= org.name %></td>
            <td><%= organization_claimed_site_count org.id %></td>
            <td><%= organization_open_site_count org.id %></td>
            <td><%= organization_closed_site_count org.id %></td>
            <td><%= organization_reported_site_count org.id %></td>
            <td><%= org.timestamp_login %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
