<div class="row collapse" id="copyright">
  <div class="small-12 medium-12 large-12 columns">
    <ul>
      <li><%= link_to "Home", home_path %> |</li>
      <li><%= link_to "About", about_path %> |</li>
      <li><a href="/public_map">Map</a> |</li>
      <li><a href="http://blog.crisiscleanup.org/">Blog</a> |</li>
      <li><a href="https://crisiscleanup-demo.herokuapp.com/">Demo</a> |</li>
      <li><%= link_to "Training", training_path %> |</li>
      <li><%= link_to "Contact", contact_path %> |</li>
      <li><%= link_to "Terms", terms_path %> |</li>
      <li><%= link_to "Privacy", privacy_path %> |</li>
      <li><a href="https://crisiscleanup.zendesk.com/hc/en-us/sections/200166636-Policies">Policies</a> |</li>
      <li><a href="/signup">Sign Up</a> |</li>
      <% if current_user %>
          <li><%= link_to "Login", new_user_session_path %></li>
      <% else %>
          <li><%= link_to "Logout", destroy_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</div>


