<footer align="center"><!--application.html.erb-->
  <div class="row" id="footer_row">
    <div class="medium-4 columns footer-logo">
      <a href="/"><%= image_tag "ccu-logo-white.png", :alt => "Crisis Cleanup Home" %></a>
      <h5><%= t('lg_footer_1') %></h5>
      <p><%= t('lg_footer_2') %> <a href="https://github.com/CrisisCleanup/crisiscleanup"><%= t('lg_footer_3') %></a></p>
      <ul class="sms-icons">
        <li><a href="https://www.facebook.com/Crisis-Cleanup-437690172982553/"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/crisiscleanup"><i class="fa fa-twitter"></i></a></li>
        <li><a href="/contact"><i class="fa fa-envelope"></i></a></li>
      </ul>
    </div>
    <div class="medium-8 columns">
      <div class="row-collapse">
        <div class="medium-4 columns">
          <i class="fa fa-rocket"></i>
          <h4><%= t('lg_footer_4') %></h4>
          <p><%= t('lg_footer_5') %></p>
          <a href="http://blog.crisiscleanup.org/2013/11/all-crisis-cleanup-incidents.html"><%= t('lg_footer_6') %></a>
        </div>
        <div class="medium-4 columns">
          <i class="fa fa-video-camera "></i>
          <h4><%= t('lg_footer_7') %></h4>
          <p><%= t('lg_footer_8') %></p>
          <a href="http://blog.crisiscleanup.org/2013/07/crisis-cleanup-media-coverage.html"><%= t('lg_footer_9') %></a>
        </div>
      </div>
      <div class="medium-4 columns">
        <i class="fa fa-heart"></i>
        <h4><%= t('lg_footer_10') %></h4>
        <p><%= t('lg_footer_11') %>
          <a href="http://bit.ly/CCUPatreon" target="_blank"><%= t('lg_footer_12') %></a>. <%= t('lg_footer_13') %>
          <a href="https://github.com/aarontitus/crisiscleanup"><%= t('lg_footer_14') %></a><%= t('lg_footer_15') %></p>
        <a href="https://www.patreon.com/crisiscleanup" target="_blank"><%= t('lg_footer_16') %></a>
      </div>
    </div>
  </div>
</footer>