<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Crisis Cleanup - Admin" %></title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>CrisisCleanup Admin Dashboard</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "vendor" %>
  <script>Raven.config('https://10c81ccdb4ca40d39a1fafa02154e6c7@sentry.io/212434').install();</script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='admin-dashboard'>
<div class="container">
  <%= render 'layouts/menus/admin_dashboard_menu' %>
  <%= render (request.host =~ /demo/) ? "layouts/menus/alert_menu_demo" : "layouts/menus/alert_menu" %>
  <%= yield %>
</div>

<%= render 'layouts/large_footer' %>
<%= render 'layouts/footer' %>

<script>
  Vue.use(Vuetable);
</script>
<%= javascript_include_tag "components" %>

<%= render 'layouts/analytics' %>

</body>
</html>
