<!DOCTYPE html>
<html>
<head>
    <title><%= content_for?(:title) ? yield(:title) : "Crisis Cleanup - Admin" %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>CrisisCleanup Admin Dashboard</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body class='admin-dashboard'>
<div class="container">
    <%= render 'layouts/menus/admin_dashboard_menu' %>
    <!-- alert menu -->
    <%= render "layouts/menus/alert_menu" %>
    <%= yield %>
</div>
    <footer align="center">
        <div class="row" id="footer_row">
            <div class="medium-4 columns footer-logo">
                <a href="/"><%= image_tag "ccu-logo-white.png", :alt => "Crisis Cleanup Home"  %></a>
                <h5>Ready-to-Deploy Collaborative Disaster Relief Mapping and Coordination</h5>
            </div>
            <div class="medium-8 columns">
                <div class="row-collapse">
                    <div class="medium-4 columns">
                        <i class="fa fa-rocket"></i>
                        <h4>Crisis Cleanup Deployments</h4>
                        <p>Crisis Cleanup has been used in dozens of disasters across the world.</p>
                        <a href="http://blog.crisiscleanup.org/2013/11/all-crisis-cleanup-incidents.html">See All Crisis Cleanup Deployments</a>
                    </div>
                    <div class="medium-4 columns">
                        <i class="fa fa-video-camera "></i>
                        <h4>Media Coverage</h4>
                        <p>Crisis Cleanup is primarily for relief agencies rather than the public (and therefore w don't seek the public spotlight), but occasionally you will see us in the news!</p>    
                        <a href="http://blog.crisiscleanup.org/2013/07/crisis-cleanup-media-coverage.html">See Crisis Cleanup In The News</button></a>
                    </div>
                </div>
                    <div class="medium-4 columns">
                        <i class="fa fa-heart"></i>
                        <h4>Want to help?</h4>
                        <p>Crisis Cleanup is open source and powered mostly by dedicated volunteers. If you are a <span>Ruby / PostgreSQL programmer, check out the Crisis Cleanup Github repository</span> and contact us.</p>    
                        <a href="https://github.com/aarontitus/crisiscleanup">Fork Repo @ Github</a>
                    </div>              
        </div>
    </footer>    
</body>
</html>
