<!DOCTYPE html>
<html lang="en">

<%= render 'layouts/zendesk' %>

<head>
  <title><%= content_for?(:title) ? yield(:title) : "Crisis Cleanup" %></title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content="Always-Ready Open Source Disaster Relief Mapping and Work Coordination • 68,897 helped • 108 disasters • 6 countries • 1,400 organizations • 479,027 volunteers • $110.3M impact • Free" />
  <%= favicon_link_tag(source='favicon.ico', options={}) %>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "vendor" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>

<body class='public'>
<header>
  <%= render "layouts/menus/application_menu" %>
</header>

<%= render (request.host =~ /demo/) ? "layouts/menus/alert_menu_demo" : "layouts/menus/alert_menu" %>

<%= yield :subheader %>

<div class="row collapse">

  <%= yield :main %>
  <%= yield :sidebar %>
</div>
<%= render 'layouts/large_footer' %>
<%= render 'layouts/footer' %>

<script type="text/javascript">
  var InitialState = <%= raw initial_state.to_json %>;
</script>
<%= javascript_pack_tag 'application' %>
<%= yield :javascripts %>

<%= render 'layouts/analytics' %>
</body>
</html>
