<!DOCTYPE html>
<html lang="en">
<!-- Start of crisiscleanup Zendesk Widget script -->
<script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(c){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","crisiscleanup.zendesk.com");
/*]]>*/</script>
<!-- End of crisiscleanup Zendesk Widget script -->    
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Crisis Cleanup" %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Always-Ready Open Source Disaster Relief Mapping and Work Coordination
• 20,000+ helped • 37 disasters • 5 countries • 425+ organizations • 40,000+ volunteers • $39m impact • Free" />
    <%= favicon_link_tag(source='favicon.ico', options={}) %>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body class='public'>
    <header>
      <%= render "layouts/menus/application_menu" %>
    </header>
 
    <!-- alert menu -->
    <%= render (request.host =~ /demo/) ? "layouts/menus/alert_menu_demo" : "layouts/menus/alert_menu" %>

      <!-- subheader -->
    <%= yield :subheader %>
        
    <div id="wrapper">
            
        <!-- main content -->
        <%= yield :main %>        
        
            <!-- sidebar -->
            <%= yield :sidebar %>                
    </div>
    <br>          
    <footer align="center">
        <div class="row" id="footer_row">
            <div class="medium-4 columns footer-logo">
                <a href="/"><%= image_tag "ccu-logo-white.png", :alt => "Crisis Cleanup Home"  %></a>
                <h5>Ready-to-Deploy Collaborative Disaster Relief Mapping and Coordination</h5>
                <p>Crisis Cleanup is an <a href="https://github.com/aarontitus/crisiscleanup">open source project</a></p>
                <ul class="sms-icons">
                    <li><a href="https://www.facebook.com/Crisis-Cleanup-437690172982553/"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/crisiscleanup"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="/contact"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
            <div class="medium-8 columns">
                <div class="row-collapse">
                    <div class="medium-4 columns">
                        <i class="fa fa-rocket"></i>
                        <h4>Crisis Cleanup Deployments</h4>
                        <p>Crisis Cleanup has been used in dozens of disasters across the world.</p>
                        <a href="http://blog.crisiscleanup.org/2013/11/all-crisis-cleanup-incidents.html">See All Crisis Cleanup Deployments</a>
                    </div>
                    <div class="medium-4 columns">
                        <i class="fa fa-video-camera "></i>
                        <h4>Media Coverage</h4>
                        <p>Crisis Cleanup is primarily for relief agencies rather than the public (and therefore we don't seek the public spotlight), but occasionally you will see us in the news!</p>    
                        <a href="http://blog.crisiscleanup.org/2013/07/crisis-cleanup-media-coverage.html">See Crisis Cleanup In The News</button></a>
                    </div>
                </div>
                    <div class="medium-4 columns">
                        <i class="fa fa-heart"></i>
                        <h4>Want to help?</h4>
                        <p>Crisis Cleanup is open source and powered mostly by dedicated volunteers. If you are a <span>Ruby / PostgreSQL programmer, check out the Crisis Cleanup Github repository</span> and contact us.</p>    
                        <a href="https://github.com/aarontitus/crisiscleanup">Fork Repo @ Github</a>
                    </div>              
        </div>
    </footer>
    <div class="row collapse" id="copyright">
        <div class="small-12 medium-12 large-12 columns">
            <ul>
                <li><%= link_to "Home", root_path %> |</li>
                <li><%= link_to "About", about_path %> |</li>
                <li><a href="/public_map">Map</a> |</li>
                <li><a href="http://blog.crisiscleanup.org/">Blog</a> |</li>
                <li><a href="https://crisiscleanup-demo.herokuapp.com/">Demo</a> |</li>
                <li><%= link_to "Training", training_path %> |</li>
                <li><%= link_to "Contact", contact_path %> |</li>
                <li><%= link_to "Terms", terms_path %> |</li>
                <li><%= link_to "Privacy", privacy_path %> |</li>
                <li><a href="https://crisiscleanup.zendesk.com/hc/en-us/sections/200166636-Policies">Policies</a> |</li>
                <li><a href="/signup">Sign Up</a> |</li>
                <% if current_user %>
                  <li><%= link_to "Login", new_user_session_path %></li> 
                <% else %>
                  <li><%= link_to "Logout", destroy_user_session_path %></li>
                <% end %>
            </ul>
        </div>  
    </div>

    <!-- initial-state -->
    <script type="text/javascript">
      var InitialState = <%= raw initial_state.to_json %>
    </script>

    <!-- javascript libraries -->
    <%= yield :javascripts %>
      
    <!-- Google Analytics -->    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42924421-1', 'auto');
      ga('send', 'pageview');

    </script>       
  </body>
</html>
