<!DOCTYPE html>
<html>
<head>
  <title>CrisisCleanup Admin Dashboard</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>CrisisCleanup Admin Dashboard</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body class='volunteer-dashboard'>
<div class="container">
    <%= render 'layouts/menus/volunteer_dashboard_menu' %>
    <!-- to do render message partial if there is a message -->
    <%= yield %>
</div>

</body>
</html>
